In [2]:
import pandas as pd

## House Vancancy Rate Data Cleaning (By zipcode)

In [3]:
data=pd.read_excel('Vacant_Rate_Data.xlsx')
data.head(5)

,Category,Zip Code,Metro Area,AK,AL,AR,AZ,CA,CO,CT,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,75% and more,2457,"Boston-Cambridge-Quincy, MA-NH MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2535,MA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2564,MA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2641,"Barnstable Town, MA MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2647,"Barnstable Town, MA MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data['Category'].unique()

array(['75% and more', nan, '50% to 75%', '25% to 50%', 'Less than 25%'],
      dtype=object)

In [5]:
data=data.drop(['Category'], axis=1)
data

,Zip Code,Metro Area,AK,AL,AR,AZ,CA,CO,CT,DC,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,2457,"Boston-Cambridge-Quincy, MA-NH MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2535,MA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2564,MA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2641,"Barnstable Town, MA MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2647,"Barnstable Town, MA MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32176,99362,WA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.086404,NaN,NaN,NaN
32177,99363,WA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
32178,99371,WA NONMETROPOLITAN AREA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.141414,NaN,NaN,NaN
32179,99402,"Lewiston, ID-WA MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.166667,NaN,NaN,NaN
32180,99403,"Lewiston, ID-WA MSA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.031771,NaN,NaN,NaN

In [6]:
data=data.fillna(0)
data.head(5)

,Zip Code,Metro Area,AK,AL,AR,AZ,CA,CO,CT,DC,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,2457,"Boston-Cambridge-Quincy, MA-NH MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2535,MA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2564,MA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2641,"Barnstable Town, MA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2647,"Barnstable Town, MA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
data.columns

Index(['Zip Code', 'Metro Area', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT',
       'DC', 'DE', 'FL', 'GA', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ',
       'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype='object')

In [8]:
data['State']=0
data['Vacant Rate']=0
data

,Zip Code,Metro Area,AK,AL,AR,AZ,CA,CO,CT,DC,...,TX,UT,VA,VT,WA,WI,WV,WY,State,Vacant Rate
0,2457,"Boston-Cambridge-Quincy, MA-NH MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0
1,2535,MA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0
2,2564,MA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0
3,2641,"Barnstable Town, MA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0
4,2647,"Barnstable Town, MA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32176,99362,WA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.086404,0.0,0.0,0.0,0,0
32177,99363,WA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0
32178,99371,WA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.141414,0.0,0.0,0.0,0,0
32179,99402,"Lewiston, ID-WA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,0,0
32180,99403,"Lewiston, ID-WA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.031771,0.0,0.0,0.0,0,0

In [9]:
data.loc[0,'MA']

1.0

In [10]:
states=['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT',
       'DC', 'DE', 'FL', 'GA', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ',
       'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

for i in data.index:
    for state in states:
        if data.loc[i,state] != 0 :
            data.loc[i,'State'] = state
            data.loc[i,'Vacant Rate'] = data.loc[i,state]
data

,Zip Code,Metro Area,AK,AL,AR,AZ,CA,CO,CT,DC,...,TX,UT,VA,VT,WA,WI,WV,WY,State,Vacant Rate
0,2457,"Boston-Cambridge-Quincy, MA-NH MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,MA,1.000000
1,2535,MA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,MA,0.789344
2,2564,MA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,MA,0.936951
3,2641,"Barnstable Town, MA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,MA,0.768519
4,2647,"Barnstable Town, MA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,MA,0.799296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32176,99362,WA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.086404,0.0,0.0,0.0,WA,0.086404
32177,99363,WA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0,0.000000
32178,99371,WA NONMETROPOLITAN AREA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.141414,0.0,0.0,0.0,WA,0.141414
32179,99402,"Lewiston, ID-WA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,WA,0.166667
32180,99403,"Lewiston, ID-WA MSA",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.031771,0.0,0.0,0.0,WA,0.031771

In [11]:
data.loc[0]

Zip Code                                     2457
Metro Area     Boston-Cambridge-Quincy, MA-NH MSA
AK                                            0.0
AL                                            0.0
AR                                            0.0
AZ                                            0.0
CA                                            0.0
CO                                            0.0
CT                                            0.0
DC                                            0.0
DE                                            0.0
FL                                            0.0
GA                                            0.0
IA                                            0.0
ID                                            0.0
IL                                            0.0
IN                                            0.0
KS                                            0.0
KY                                            0.0
LA                                            0.0
MA                                            1.0
MD                                            0.0
ME                                            0.0
MI                                            0.0
MN                                            0.0
MO                                            0.0
MS                                            0.0
MT                                            0.0
NC                                            0.0
ND                                            0.0
NE                                            0.0
NH                                            0.0
NJ                                            0.0
NM                                            0.0
NV                                            0.0
NY                                            0.0
OH                                            0.0
OK                                            0.0
OR                                            0.0
PA                                            0.0
RI                                            0.0
SC                                            0.0
SD                                            0.0
TN                                            0.0
TX                                            0.0
UT                                            0.0
VA                                            0.0
VT                                            0.0
WA                                            0.0
WI                                            0.0
WV                                            0.0
WY                                            0.0
State                                          MA
Vacant Rate                                   1.0
Name: 0, dtype: object

In [12]:
data=data.drop(states, axis=1)
data

       Zip Code                          Metro Area State  Vacant Rate
0          2457  Boston-Cambridge-Quincy, MA-NH MSA    MA     1.000000
1          2535             MA NONMETROPOLITAN AREA    MA     0.789344
2          2564             MA NONMETROPOLITAN AREA    MA     0.936951
3          2641             Barnstable Town, MA MSA    MA     0.768519
4          2647             Barnstable Town, MA MSA    MA     0.799296
...         ...                                 ...   ...          ...
32176     99362             WA NONMETROPOLITAN AREA    WA     0.086404
32177     99363             WA NONMETROPOLITAN AREA     0     0.000000
32178     99371             WA NONMETROPOLITAN AREA    WA     0.141414
32179     99402                 Lewiston, ID-WA MSA    WA     0.166667
32180     99403                 Lewiston, ID-WA MSA    WA     0.031771

[32181 rows x 4 columns]

In [13]:
data['State'].unique()

array(['MA', 'RI', 'NH', 'ME', 'VT', 'NY', 'NJ', 'PA', 'DE', 'MD', 'VA',
       'WV', 'NC', 'SC', 'GA', 'FL', 'AL', 'TN', 'MS', 'KY', 'OH', 'IN',
       'MI', 'WI', 'MN', 'SD', 'ND', 'MT', 'IL', 'MO', 'NE', 'LA', 'AR',
       'OK', 'TX', 'CO', 'WY', 'ID', 'UT', 'AZ', 'NM', 'NV', 'CA', 0,
       'OR', 'WA', 'AK', 'CT', 'DC', 'IA', 'KS'], dtype=object)

In [14]:
data.to_csv('Vacant_rate.csv')

## County Median Home Price Data Cleaning (By County)

In [71]:
df= pd.read_excel('County Median Home Prices.xlsx')
df.head(5)

,Geography,Full County Number,ABS-diff price Q2 2021,Growth Q2 2021 (compared to Q4 2019),Q2 2021
0,"Berkshire County, Massachusetts",25003,NaN,NaN,NaN
1,"Danville city, Virginia",51590,NaN,NaN,NaN
2,"Erie County, Ohio",39043,NaN,NaN,NaN
3,"Flagler County, Florida",12035,NaN,NaN,NaN
4,"Franklin County, Massachusetts",25011,NaN,NaN,NaN

In [73]:

df['County number']= df['Full County Number'].astype(str)
df['County number'] = df['County number'].str[2:]
df['Median Home Price']= df[['Q2 2021']]
df

,Geography,Full County Number,ABS-diff price Q2 2021,Growth Q2 2021 (compared to Q4 2019),Q2 2021,County number,Median Home Price
0,"Berkshire County, Massachusetts",25003,NaN,NaN,NaN,003,NaN
1,"Danville city, Virginia",51590,NaN,NaN,NaN,590,NaN
2,"Erie County, Ohio",39043,NaN,NaN,NaN,043,NaN
3,"Flagler County, Florida",12035,NaN,NaN,NaN,035,NaN
4,"Franklin County, Massachusetts",25011,NaN,NaN,NaN,011,NaN
...,...,...,...,...,...,...,...
3136,"York County, Nebraska",31185,0.077477,0.106304,149572.333583,185,149572.333583
3137,"Young County, Texas",48503,0.093691,0.132925,109667.098565,503,109667.098565
3138,"Zapata County, Texas",48505,0.093691,0.132925,88141.531698,505,88141.531698
3139,"Zavala County, Texas",48507,0.093691,0.132925,56646.228598,507,56646.228598
3140,"Ziebach County, South Dakota",46137,0.094241,0.111370,64126.048462,137,64126.048462

In [74]:
df=df.drop(['ABS-diff price Q2 2021', 'Growth Q2 2021 (compared to Q4 2019)', 'Full County Number', 'Q2 2021'], axis=1)
df

                             Geography County number  Median Home Price
0     Berkshire County,  Massachusetts           003                NaN
1             Danville city,  Virginia           590                NaN
2                   Erie County,  Ohio           043                NaN
3             Flagler County,  Florida           035                NaN
4      Franklin County,  Massachusetts           011                NaN
...                                ...           ...                ...
3136            York County,  Nebraska           185      149572.333583
3137              Young County,  Texas           503      109667.098565
3138             Zapata County,  Texas           505       88141.531698
3139             Zavala County,  Texas           507       56646.228598
3140     Ziebach County,  South Dakota           137       64126.048462

[3141 rows x 3 columns]

In [75]:
df.to_csv('County Median Home Prices.csv')

## Merging data

In [16]:
df= pd.read_csv('clean_data_with_geocode.csv',index_col=0)
df

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,PROPERTY_DATECOMPLETED,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,1970-01-01 00:00:00,97.4,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,1972-01-01 00:00:00,90.3,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,1961-01-01 00:00:00,100.0,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1960-01-01 00:00:00,100.0,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,1990-01-01 00:00:00,100.0,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,Bentonville,...,2010-01-01 00:00:00,NaN,812.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,0.930213,5,7,20607,3,50070206073
10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,Rogers,...,2017-01-01 00:00:00,NaN,1021.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.186060,5,7,20405,1,50070204051
10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,Rogers,...,2020-01-01 00:00:00,NaN,1132.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.174531,5,7,20607,1,50070206071
10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,Fayetteville,...,2002-01-01 00:00:00,NaN,772.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,inf,5,143,10110,2,51430101102
10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,2008-01-01 00:00:00,NaN,1066.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.039003,47,179,60402,1,471790604021

In [17]:
df['PROPERTY_ZIPCODE']=df['PROPERTY_ZIPCODE'].astype(int)

In [18]:
df.columns

Index(['PROPERTY_ID', 'MARKETID', 'MARKET_NAME', 'SUBMARKET_CODE',
       'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME', 'PROPERTY_PRIORNAMES',
       'PROPERTY_ADDRESS', 'PROPERTY_CITY', 'PROPERTY_STATE',
       'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE', 'PROPERTY_LONGITUDE',
       'PROPERTY_PHONE', 'PROPERTY_UNITS', 'PROPERTY_SQFT', 'PROPERTY_ACRES',
       'PROPERTY_IMPRATING', 'PROPERTY_LOCRATING', 'PROPERTY_STATUS',
       'PROPERTY_DATE_PLANNED', 'PROPERTY_DATE_UNDERCONSTRUCTION',
       'PROPERTY_DATE_RENTUP', 'PROPERTY_DATECOMPLETED',
       'PROPERTY_CURRENT_OCCUPANCY', 'PROPERTY_CURRENT_RENT',
       'PROPERTY_MATRIX_URL', 'current_rent_sqft', 'state_code', 'county_code',
       'census_tract', 'block_group', 'census_code'],
      dtype='object')

In [19]:
df_2= pd.read_csv('Vacant_rate.csv',index_col=0)
df_2.head()

   Zip Code                          Metro Area State  Vacant Rate
0      2457  Boston-Cambridge-Quincy, MA-NH MSA    MA     1.000000
1      2535             MA NONMETROPOLITAN AREA    MA     0.789344
2      2564             MA NONMETROPOLITAN AREA    MA     0.936951
3      2641             Barnstable Town, MA MSA    MA     0.768519
4      2647             Barnstable Town, MA MSA    MA     0.799296

In [20]:
# change data type to merge data
df_2['Zip Code']=df_2['Zip Code'].astype(int)

In [21]:
df_2

       Zip Code                          Metro Area State  Vacant Rate
0          2457  Boston-Cambridge-Quincy, MA-NH MSA    MA     1.000000
1          2535             MA NONMETROPOLITAN AREA    MA     0.789344
2          2564             MA NONMETROPOLITAN AREA    MA     0.936951
3          2641             Barnstable Town, MA MSA    MA     0.768519
4          2647             Barnstable Town, MA MSA    MA     0.799296
...         ...                                 ...   ...          ...
32176     99362             WA NONMETROPOLITAN AREA    WA     0.086404
32177     99363             WA NONMETROPOLITAN AREA     0     0.000000
32178     99371             WA NONMETROPOLITAN AREA    WA     0.141414
32179     99402                 Lewiston, ID-WA MSA    WA     0.166667
32180     99403                 Lewiston, ID-WA MSA    WA     0.031771

[32181 rows x 4 columns]

In [22]:
temp=pd.merge(df,df_2,how='left',left_on='PROPERTY_ZIPCODE',right_on='Zip Code',suffixes=['','_vac'])

In [23]:
df=temp[['PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code','Vacant Rate']]
df

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,Vacant Rate
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,97.4,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201,0.066907
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,90.3,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081,0.149902
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,100.0,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252,0.136244
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,100.0,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072,0.221850
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,100.0,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002,0.045261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,Bentonville,...,NaN,812.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,0.930213,5,7,20607,3,50070206073,NaN
10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,Rogers,...,NaN,1021.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.186060,5,7,20405,1,50070204051,0.103473
10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,Rogers,...,NaN,1132.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.174531,5,7,20607,1,50070206071,0.103473
10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,Fayetteville,...,NaN,772.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,inf,5,143,10110,2,51430101102,0.115085
10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,NaN,1066.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.039003,47,179,60402,1,471790604021,0.109523

In [32]:
df['Vacant Rate'].isnull().value_counts()

False    10846
True        31
Name: Vacant Rate, dtype: int64

In [39]:
df.corr()

,MARKETID,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_PHONE,PROPERTY_UNITS,PROPERTY_SQFT,PROPERTY_ACRES,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,Vacant Rate
MARKETID,1.000000,-0.202597,0.002263,0.275796,0.021069,-0.121488,-0.106977,0.013227,-0.080873,-0.345636,-0.425193,0.257469,0.006940,0.018847,0.029936,0.256629,-0.002348
PROPERTY_ZIPCODE,-0.202597,1.000000,0.056949,-0.902230,-0.187418,-0.003118,-0.106411,-0.100579,-0.077434,-0.146485,-0.032582,0.417981,0.218242,0.324853,0.005849,0.418123,-0.219857
PROPERTY_LATITUDE,0.002263,0.056949,1.000000,-0.302003,0.132037,-0.043224,-0.045464,-0.000921,0.009752,-0.049940,-0.015999,-0.127214,-0.233350,-0.292466,0.033941,-0.128473,-0.257622
PROPERTY_LONGITUDE,0.275796,-0.902230,-0.302003,1.000000,0.148963,0.020046,0.105075,0.087282,0.041416,0.082599,-0.050390,-0.155544,-0.008444,-0.175776,-0.021837,-0.155069,0.176399
PROPERTY_PHONE,0.021069,-0.187418,0.132037,0.148963,1.000000,0.041293,0.056963,0.029195,0.043725,0.027792,0.014574,0.054123,0.070235,-0.175759,-0.019457,0.054444,-0.049691
PROPERTY_UNITS,-0.121488,-0.003118,-0.043224,0.020046,0.041293,1.000000,0.932153,0.224408,-0.028803,0.157277,0.136717,0.012047,0.023778,0.025288,-0.018325,0.012178,-0.026736
PROPERTY_SQFT,-0.106977,-0.106411,-0.045464,0.105075,0.056963,0.932153,1.000000,0.249808,0.002356,0.306822,0.110215,-0.045935,-0.005046,0.012959,-0.025031,-0.045813,-0.026998
PROPERTY_ACRES,0.013227,-0.100579,-0.000921,0.087282,0.029195,0.224408,0.249808,1.000000,0.020562,0.017951,-0.074787,-0.039946,-0.004955,-0.016684,-0.000243,-0.039843,-0.035472
PROPERTY_CURRENT_OCCUPANCY,-0.080873,-0.077434,0.009752,0.041416,0.043725,-0.028803,0.002356,0.020562,1.000000,0.060497,0.049707,-0.084730,-0.033795,-0.056712,-0.016081,-0.084683,-0.051152
PROPERTY_CURRENT_RENT,-0.345636,-0.146485,-0.049940,0.082599,0.027792,0.157277,0.306822,0.017951,0.060497,1.000000,0.824502,-0.250947,-0.074552,-0.083309,-0.042727,-0.250622,0.059044
current_rent_sqft,-0.425193,-0.032582,-0.015999,-0.050390,0.014574,0.136717,0.110215,-0.074787,0.049707,0.824502,1.000000,-0.296200,-0.124079,-0.104481,-0.023463,-0.296088,0.093959
state_code,0.257469,0.417981,-0.127214,-0.155544,0.054123,0.012047,-0.045935,-0.039946,-0.084730,-0.250947,-0.296200,1.000000,0.473046,0.259840,-0.026910,0.999980,-0.252649
county_code,0.006940,0.218242,-0.233350,-0.008444,0.070235,0.023778,-0.005046,-0.004955,-0.033795,-0.074552,-0.124079,0.473046,1.000000,0.149592,-0.017121,0.478676,-0.157537
census_tract,0.018847,0.324853,-0.292466,-0.175776,-0.175759,0.025288,0.012959,-0.016684,-0.056712,-0.083309,-0.104481,0.259840,0.149592,1.000000,-0.013751,0.260039,-0.001372
block_group,0.029936,0.005849,0.033941,-0.021837,-0.019457,-0.018325,-0.025031,-0.000243,-0.016081,-0.042727,-0.023463,-0.026910,-0.017121,-0.013751,1.000000,-0.026942,-0.030545
census_code,0.256629,0.418123,-0.128473,-0.155069,0.054444,0.012178,-0.045813,-0.039843,-0.084683,-0.250622,-0.296088,0.999980,0.478676,0.260039,-0.026942,1.000000,-0.252918
Vacant Rate,-0.002348,-0.219857,-0.257622,0.176399,-0.049691,-0.026736,-0.026998,-0.035472,-0.051152,0.059044,0.093959,-0.252649,-0.157537,-0.001372,-0.030545,-0.252918,1.000000

In [76]:
df_3= pd.read_csv('County Median Home Prices.csv')
df_3.head(5)

,Unnamed: 0,Geography,County number,Median Home Price
0,0,"Berkshire County, Massachusetts",3,NaN
1,1,"Danville city, Virginia",590,NaN
2,2,"Erie County, Ohio",43,NaN
3,3,"Flagler County, Florida",35,NaN
4,4,"Franklin County, Massachusetts",11,NaN

In [77]:
df_4= pd.read_csv('clean_data_with_geocode.csv',index_col=0)
df_4.head(5)

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,PROPERTY_DATECOMPLETED,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,1970-01-01 00:00:00,97.4,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,1972-01-01 00:00:00,90.3,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,1961-01-01 00:00:00,100.0,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1960-01-01 00:00:00,100.0,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,1990-01-01 00:00:00,100.0,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002

In [78]:
temp=pd.merge(df_4,df_3,how='left',left_on='county_code',right_on='County number',suffixes=['','_medianPrice'])

temp

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,Unnamed: 0,Geography,County number,Median Home Price
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,2.183797,12,86,720,1,120860007201,1705,"Miami-Dade County, Florida",86,380443.458948
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,2.096346,12,86,508,1,120860005081,1705,"Miami-Dade County, Florida",86,380443.458948
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,2.001361,12,86,225,2,120860002252,1705,"Miami-Dade County, Florida",86,380443.458948
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1.539484,12,86,3607,2,120860036072,1705,"Miami-Dade County, Florida",86,380443.458948
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,1.798683,12,86,13500,2,120860135002,1705,"Miami-Dade County, Florida",86,380443.458948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271788,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,1.039003,47,179,60402,1,471790604021,2833,"Reynolds County, Missouri",179,109079.788277
271789,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,1.039003,47,179,60402,1,471790604021,2920,"Sheridan County, Kansas",179,125980.719981
271790,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,1.039003,47,179,60402,1,471790604021,2985,"Tazewell County, Illinois",179,153801.175088
271791,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,1.039003,47,179,60402,1,471790604021,3081,"Wayne County, Nebraska",179,151784.942068
271792,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,1.039003,47,179,60402,1,471790604021,3089,"Wells County, Indiana",179,150434.955999

In [79]:
temp['Median Home Price'].isnull().value_counts()

False    270277
True       1516
Name: Median Home Price, dtype: int64

In [80]:
temp.corr()

,MARKETID,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_PHONE,PROPERTY_UNITS,PROPERTY_SQFT,PROPERTY_ACRES,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,Unnamed: 0,County number,Median Home Price
MARKETID,1.000000,-0.338747,-0.059644,0.414732,0.043254,-0.134022,-0.103595,0.041043,-0.056371,-0.322538,-0.412581,0.359984,0.133941,-0.073152,0.024732,0.360029,0.064450,0.133941,-0.079207
PROPERTY_ZIPCODE,-0.338747,1.000000,0.259426,-0.923484,-0.247721,-0.014577,-0.119670,-0.179282,-0.049596,-0.105412,0.066225,0.197331,-0.182274,0.271860,0.010061,0.196527,-0.081391,-0.182274,0.081646
PROPERTY_LATITUDE,-0.059644,0.259426,1.000000,-0.429610,0.027495,-0.037232,-0.059219,-0.042970,0.000721,-0.036982,0.027301,-0.041322,-0.154991,-0.179053,0.028525,-0.041782,-0.032829,-0.154991,0.040505
PROPERTY_LONGITUDE,0.414732,-0.923484,-0.429610,1.000000,0.193235,0.022008,0.109546,0.157060,0.015224,0.034842,-0.136564,0.011499,0.332390,-0.209295,-0.013806,0.012566,0.121910,0.332390,-0.107214
PROPERTY_PHONE,0.043254,-0.247721,0.027495,0.193235,1.000000,0.057074,0.087774,0.071940,0.051388,0.085065,0.048531,0.045222,0.120056,-0.175945,-0.028394,0.045562,0.050670,0.120056,-0.019681
PROPERTY_UNITS,-0.134022,-0.014577,-0.037232,0.022008,0.057074,1.000000,0.930619,0.386828,-0.003815,0.182246,0.162667,-0.010452,0.039551,0.010497,-0.011230,-0.010312,0.011812,0.039551,-0.001868
PROPERTY_SQFT,-0.103595,-0.119670,-0.059219,0.109546,0.087774,0.930619,1.000000,0.420162,0.024737,0.327667,0.115827,-0.045697,0.047076,-0.001283,-0.019606,-0.045494,0.019992,0.047076,-0.010624
PROPERTY_ACRES,0.041043,-0.179282,-0.042970,0.157060,0.071940,0.386828,0.420162,1.000000,0.042988,0.031121,-0.089795,-0.041839,0.027537,-0.014900,-0.006779,-0.041705,0.017310,0.027537,-0.012566
PROPERTY_CURRENT_OCCUPANCY,-0.056371,-0.049596,0.000721,0.015224,0.051388,-0.003815,0.024737,0.042988,1.000000,0.057184,0.024025,-0.068736,-0.039740,-0.019215,-0.027511,-0.068791,-0.009725,-0.039740,0.008017
PROPERTY_CURRENT_RENT,-0.322538,-0.105412,-0.036982,0.034842,0.085065,0.182246,0.327667,0.031121,0.057184,1.000000,0.797836,-0.276068,-0.090875,-0.016728,-0.039170,-0.276064,-0.030923,-0.090875,0.028160
current_rent_sqft,-0.412581,0.066225,0.027301,-0.136564,0.048531,0.162667,0.115827,-0.089795,0.024025,0.797836,1.000000,-0.319006,-0.169976,0.000572,-0.016319,-0.319238,-0.060841,-0.169976,0.051891
state_code,0.359984,0.197331,-0.041322,0.011499,0.045222,-0.010452,-0.045697,-0.041839,-0.068736,-0.276068,-0.319006,1.000000,0.331585,0.075335,-0.026579,0.999995,0.094021,0.331585,-0.059601
county_code,0.133941,-0.182274,-0.154991,0.332390,0.120056,0.039551,0.047076,0.027537,-0.039740,-0.090875,-0.169976,0.331585,1.000000,0.072080,-0.041930,0.334479,0.276829,1.000000,-0.118939
census_tract,-0.073152,0.271860,-0.179053,-0.209295,-0.175945,0.010497,-0.001283,-0.014900,-0.019215,-0.016728,0.000572,0.075335,0.072080,1.000000,0.008668,0.075497,0.041865,0.072080,0.003196
block_group,0.024732,0.010061,0.028525,-0.013806,-0.028394,-0.011230,-0.019606,-0.006779,-0.027511,-0.039170,-0.016319,-0.026579,-0.041930,0.008668,1.000000,-0.026686,-0.009305,-0.041930,0.004914
census_code,0.360029,0.196527,-0.041782,0.012566,0.045562,-0.010312,-0.045494,-0.041705,-0.068791,-0.276064,-0.319238,0.999995,0.334479,0.075497,-0.026686,1.000000,0.094820,0.334479,-0.059923
Unnamed: 0,0.064450,-0.081391,-0.032829,0.121910,0.050670,0.011812,0.019992,0.017310,-0.009725,-0.030923,-0.060841,0.094021,0.276829,0.041865,-0.009305,0.094820,1.000000,0.276829,-0.218526
County number,0.133941,-0.182274,-0.154991,0.332390,0.120056,0.039551,0.047076,0.027537,-0.039740,-0.090875,-0.169976,0.331585,1.000000,0.072080,-0.041930,0.334479,0.276829,1.000000,-0.118939
Median Home Price,-0.079207,0.081646,0.040505,-0.107214,-0.019681,-0.001868,-0.010624,-0.012566,0.008017,0.028160,0.051891,-0.059601,-0.118939,0.003196,0.004914,-0.059923,-0.218526,-0.118939,1.000000

## Underconstruction

In [82]:
df=pd.read_csv('clean_data_with_geocode.csv', index_col=0)
df

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,PROPERTY_DATECOMPLETED,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,1970-01-01 00:00:00,97.4,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,1972-01-01 00:00:00,90.3,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,1961-01-01 00:00:00,100.0,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1960-01-01 00:00:00,100.0,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,1990-01-01 00:00:00,100.0,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,Bentonville,...,2010-01-01 00:00:00,NaN,812.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,0.930213,5,7,20607,3,50070206073
10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,Rogers,...,2017-01-01 00:00:00,NaN,1021.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.186060,5,7,20405,1,50070204051
10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,Rogers,...,2020-01-01 00:00:00,NaN,1132.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.174531,5,7,20607,1,50070206071
10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,Fayetteville,...,2002-01-01 00:00:00,NaN,772.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,inf,5,143,10110,2,51430101102
10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,Johnson City,...,2008-01-01 00:00:00,NaN,1066.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.039003,47,179,60402,1,471790604021

In [98]:
df_1= df.groupby(['state_code', 'county_code', 'census_tract']).PROPERTY_STATUS.value_counts()
df_1

state_code  county_code  census_tract  PROPERTY_STATUS
0           0            0             Completed          1
1           3            10710         Completed          1
                         10711         Completed          1
                         10800         Completed          1
                         10908         Completed          1
                                                         ..
56          25           601           Completed          1
            37           970800        Completed          1
                         970903        Completed          1
            39           967704        Completed          1
                         967802        Completed          1
Name: PROPERTY_STATUS, Length: 6205, dtype: int64

## Home Supply (By Census Tract)

In [2]:
import pandas as pd
temp=pd.read_csv('ACSDP5Y2019.DP04_data_with_overlays_2022-02-12T180440.csv')
temp.head()

/Users/freda/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,4,5,6,7,8,9,10,11,20,21,22,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,148,149,150,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,180,181,182,183,184,185,186,187,196,197,198,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,320,321,324,325,328,329,332,333,336,337,340,341,344,345,348,349,356,357,358,360,361,364,365,368,369,370,372,373,376,377,380,381,384,385,388,389,392,393,396,397,404,405,406,408,409,412,413,416,417,420,421,424,425,428,429,436,437,438,440,441,444,445,448,449,452,453,456,457,460,461,464,465,466,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,502,504,505,508,509,512,513,516,517,520,521,524,525,528,529,536,537,540,541,542,544,545,548,549,552,553,556,557,560,561,564,565,568,569) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DP04_0001E,DP04_0001M,DP04_0001PE,DP04_0001PM,DP04_0002E,DP04_0002M,DP04_0002PE,DP04_0002PM,DP04_0003E,DP04_0003M,...,DP04_0142E,DP04_0142M,DP04_0142PE,DP04_0142PM,DP04_0143E,DP04_0143M,DP04_0143PE,DP04_0143PM,GEO_ID,NAME
0,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent!!HOUSING OCCUPANCY!!Total housing units,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent!!HOUSING OCCUPANCY!!Total housing unit...,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,id,Geographic Area Name
1,725,63,725,(X),709,65,97.8,3.4,16,25,...,86,49,52.1,22.1,3,5,(X),(X),1400000US01001020100,"Census Tract 201, Autauga County, Alabama"
2,840,73,840,(X),688,85,81.9,6.8,152,58,...,119,70,48.0,19.4,9,9,(X),(X),1400000US01001020200,"Census Tract 202, Autauga County, Alabama"
3,1428,87,1428,(X),1360,114,95.2,4.4,68,63,...,133,70,30.7,17.1,48,56,(X),(X),1400000US01001020300,"Census Tract 203, Autauga County, Alabama"
4,1863,100,1863,(X),1675,124,89.9,5.7,188,109,...,93,51,28.8,15.3,27,25,(X),(X),1400000US01001020400,"Census Tract 204, Autauga County, Alabama"

### Rental Vacancy Rate ; 1 Variable (by census track)

In [56]:
# Rental vacancy rate: Estimate!!HOUSING OCCUPANCY!!Total housing units!!Rental vacancy rate
rental_Vacancy_rate=temp[['GEO_ID','NAME','DP04_0005E']]
rental_Vacancy_rate.drop(0,inplace=True)
rental_Vacancy_rate['Rental Vacancy Rate']= rental_Vacancy_rate['DP04_0005E']
state_code=[]
county_code = []
census_tract = []
for i in rental_Vacancy_rate['GEO_ID']:
    state_code.append(i[9:11])
    county_code.append(i[11:14])
    census_tract.append(i[14:])
rental_Vacancy_rate['state_code']=state_code
rental_Vacancy_rate['county_code']=county_code
rental_Vacancy_rate['census_tract']=census_tract
rental_Vacancy_rate=rental_Vacancy_rate.drop('DP04_0005E', axis=1)
rental_Vacancy_rate.to_csv('rental_Vacancy_rate.csv')

<ipython-input-56-b1645b11265f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental_Vacancy_rate['Rental Vacancy Rate']= rental_Vacancy_rate['DP04_0005E']
<ipython-input-56-b1645b11265f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental_Vacancy_rate['state_code']=state_code
<ipython-input-56-b1645b11265f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental_Vacancy_rate['county_code']=county_code
<ipython-input-56-b1645b11265f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental_Vacancy_rate['census_tract']=census_tract

### Different bedrooms number rate: 6 Variables (by census track)

In [57]:
# Total housing units: bedrooms number
bedroom_numbers=temp[['GEO_ID','NAME','DP04_0038E','DP04_0039E', 'DP04_0040E', 'DP04_0041E', 'DP04_0042E', 'DP04_0043E', 'DP04_0044E']]
bedroom_numbers.drop(0,inplace=True)
data=['DP04_0038E','DP04_0039E', 'DP04_0040E', 'DP04_0041E', 'DP04_0042E', 'DP04_0043E', 'DP04_0044E']
title= [ '1 bedroom', '2 bedrooms', '3 bedrooms', '4 bedrooms', '5 or more bedrooms', 'No bedroom']
for i in data:
    bedroom_numbers[i]= bedroom_numbers[i].astype(float)

bedroom_numbers['Total housing unit']= bedroom_numbers['DP04_0038E']
bedroom_numbers['1 bedroom']= bedroom_numbers['DP04_0040E']
bedroom_numbers['2 bedrooms']= bedroom_numbers['DP04_0041E']
bedroom_numbers['3 bedrooms']= bedroom_numbers['DP04_0042E']
bedroom_numbers['4 bedrooms']= bedroom_numbers['DP04_0043E']
bedroom_numbers['5 or more bedrooms']= bedroom_numbers['DP04_0044E']
bedroom_numbers['No bedroom']= bedroom_numbers['DP04_0039E']

bedroom_numbers=bedroom_numbers.drop(data, axis=1)

for i in title:
    bedroom_numbers[i+ '_rate'] = bedroom_numbers[i] / bedroom_numbers['Total housing unit']

x=[ 'Total housing unit','1 bedroom', '2 bedrooms', '3 bedrooms', '4 bedrooms', '5 or more bedrooms', 'No bedroom']

state_code=[]
county_code = []
census_tract = []
for i in bedroom_numbers['GEO_ID']:
    state_code.append(i[9:11])
    county_code.append(i[11:14])
    census_tract.append(i[14:])
bedroom_numbers['state_code']=state_code
bedroom_numbers['county_code']=county_code
bedroom_numbers['census_tract']=census_tract

bedroom_numbers=bedroom_numbers.drop(x, axis=1)
bedroom_numbers.to_csv('bedroom_numbers_rate.csv')

/Users/freda/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-57-a77fe72049a8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers[i]= bedroom_numbers[i].astype(float)
<ipython-input-57-a77fe72049a8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['Total housing unit']= bedroom_numbers['DP04_0038E']
<ipython-input-57-a77fe72049a8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['1 bedroom']= bedroom_numbers['DP04_0040E']
<ipython-input-57-a77fe72049a8>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['2 bedrooms']= bedroom_numbers['DP04_0041E']
<ipython-input-57-a77fe72049a8>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['3 bedrooms']= bedroom_numbers['DP04_0042E']
<ipython-input-57-a77fe72049a8>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['4 bedrooms']= bedroom_numbers['DP04_0043E']
<ipython-input-57-a77fe72049a8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['5 or more bedrooms']= bedroom_numbers['DP04_0044E']
<ipython-input-57-a77fe72049a8>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bedroom_numbers['No bedroom']= bedroom_numbers['DP04_0039E']

In [61]:
bedroom_numbers.columns

Index(['GEO_ID', 'NAME', '1 bedroom_rate', '2 bedrooms_rate',
       '3 bedrooms_rate', '4 bedrooms_rate', '5 or more bedrooms_rate',
       'No bedroom_rate', 'state_code', 'county_code', 'census_tract'],
      dtype='object')

### different rental price rate: 8 variables (census track)

In [58]:
# Numbers of housing unit in different rental price

rental=temp[['GEO_ID','NAME','DP04_0126E', 'DP04_0127E', 'DP04_0128E', 'DP04_0129E', 'DP04_0130E', 'DP04_0131E','DP04_0132E', 'DP04_0133E','DP04_0135E' ]]
rental.drop(0,inplace=True)
data=['DP04_0126E', 'DP04_0127E', 'DP04_0128E', 'DP04_0129E', 'DP04_0130E', 'DP04_0131E','DP04_0132E', 'DP04_0133E', 'DP04_0135E']
title=['Rental Less than $500', 'Rental $500 ~ $999', 'Rental $1000 ~ $1499', 'Rental $1500 ~ $1999', 'Rental $2000 ~ $2499', 'Rental $2500 ~ $2999', 'Rental $3000 or more', 'No rent paid' ]
for i in data:
    rental[i]= rental[i].astype(float)

rental['Rental Less than $500']= rental['DP04_0127E']
rental['Rental $500 ~ $999']= rental['DP04_0128E']
rental['Rental $1000 ~ $1499']= rental['DP04_0129E']
rental['Rental $1500 ~ $1999'] = rental ['DP04_0130E']
rental['Rental $2000 ~ $2499'] = rental['DP04_0131E']
rental['Rental $2500 ~ $2999'] = rental['DP04_0132E']
rental['Rental $3000 or more'] = rental['DP04_0133E']
rental['No rent paid']= rental['DP04_0135E']

for i in title:
   rental[i+ '_rate'] = rental[i] / rental['DP04_0126E']

droplist=['DP04_0126E', 'DP04_0127E', 'DP04_0128E',
       'DP04_0129E', 'DP04_0130E', 'DP04_0131E', 'DP04_0132E', 'DP04_0133E',
       'DP04_0135E', 'Rental Less than $500', 'Rental $500 ~ $999',
       'Rental $1000 ~ $1499', 'Rental $1500 ~ $1999', 'Rental $2000 ~ $2499',
       'Rental $2500 ~ $2999', 'Rental $3000 or more', 'No rent paid']

state_code=[]
county_code = []
census_tract = []
for i in rental['GEO_ID']:
    state_code.append(i[9:11])
    county_code.append(i[11:14])
    census_tract.append(i[14:])
rental['state_code']=state_code
rental['county_code']=county_code
rental['census_tract']=census_tract

rental=rental.drop(droplist,axis=1)

rental.to_csv('rental_rate.csv')

/Users/freda/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-58-8567ac945eaf>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental[i]= rental[i].astype(float)
<ipython-input-58-8567ac945eaf>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental Less than $500']= rental['DP04_0127E']
<ipython-input-58-8567ac945eaf>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental $500 ~ $999']= rental['DP04_0128E']
<ipython-input-58-8567ac945eaf>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental $1000 ~ $1499']= rental['DP04_0129E']
<ipython-input-58-8567ac945eaf>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental $1500 ~ $1999'] = rental ['DP04_0130E']
<ipython-input-58-8567ac945eaf>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental $2000 ~ $2499'] = rental['DP04_0131E']
<ipython-input-58-8567ac945eaf>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental $2500 ~ $2999'] = rental['DP04_0132E']
<ipython-input-58-8567ac945eaf>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Rental $3000 or more'] = rental['DP04_0133E']
<ipython-input-58-8567ac945eaf>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['No rent paid']= rental['DP04_0135E']
<ipython-input-58-8567ac945eaf>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental[i+ '_rate'] = rental[i] / rental['DP04_0126E']
<ipython-input-58-8567ac945eaf>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['state_code']=state_code
<ipython-input-58-8567ac945eaf>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['county_code']=county_code
<ipython-input-58-8567ac945eaf>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['census_tract']=census_tract

In [62]:
rental.columns

Index(['GEO_ID', 'NAME', 'Rental Less than $500_rate',
       'Rental $500 ~ $999_rate', 'Rental $1000 ~ $1499_rate',
       'Rental $1500 ~ $1999_rate', 'Rental $2000 ~ $2499_rate',
       'Rental $2500 ~ $2999_rate', 'Rental $3000 or more_rate',
       'No rent paid_rate', 'state_code', 'county_code', 'census_tract'],
      dtype='object')

### Median Rental paid in dollars : 1 Variable (by census track)

In [59]:
# Median Rental paid
median_rental= temp[['GEO_ID','NAME','DP04_0134E']]
median_rental.drop(0,inplace=True)
median_rental['Median Rental Paid']= median_rental['DP04_0134E']
state_code=[]
county_code = []
census_tract = []
for i in median_rental['GEO_ID']:
    state_code.append(i[9:11])
    county_code.append(i[11:14])
    census_tract.append(i[14:])
median_rental['state_code']=state_code
median_rental['county_code']=county_code
median_rental['census_tract']=census_tract
median_rental=median_rental.drop('DP04_0134E', axis=1)
median_rental.to_csv('median_rental.csv')

/Users/freda/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-59-e2de27840b38>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_rental['Median Rental Paid']= median_rental['DP04_0134E']
<ipython-input-59-e2de27840b38>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_rental['state_code']=state_code
<ipython-input-59-e2de27840b38>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_rental['county_code']=county_code
<ipython-input-59-e2de27840b38>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_rental['census_tract']=census_tract

### Different type of heating fuel rate: 9 variables (by census track)

In [60]:
# Number of housing using different type of heating fuel 
heating_fuel= temp[['GEO_ID','NAME','DP04_0062E', 'DP04_0063E', 'DP04_0064E', 'DP04_0065E', 'DP04_0066E', 'DP04_0067E', 'DP04_0068E', 'DP04_0069E', 'DP04_0070E', 'DP04_0071E']]
heating_fuel.drop(0,inplace=True)
data=['DP04_0062E', 'DP04_0063E', 'DP04_0064E', 'DP04_0065E', 'DP04_0066E', 'DP04_0067E', 'DP04_0068E', 'DP04_0069E', 'DP04_0070E', 'DP04_0071E']
title=['Heating fuel- Utility Gas','Heating fuel- Bottled, tank, or LP gas','Heating fuel- Electricity', 'Heating fuel- Fuel oil, kerosene, etc.','Heating fuel- Coal or coke' ,'Heating fuel- Wood','Heating fuel- Solar Energy','Heating fuel- Other Field','Heating fuel- No Fuel Used']
for i in data:
    heating_fuel[i]= heating_fuel[i].astype(float)

heating_fuel['Heating fuel- Utility Gas'] = heating_fuel['DP04_0063E']
heating_fuel['Heating fuel- Bottled, tank, or LP gas'] = heating_fuel['DP04_0064E']
heating_fuel['Heating fuel- Electricity'] = heating_fuel['DP04_0065E']
heating_fuel['Heating fuel- Fuel oil, kerosene, etc.'] = heating_fuel['DP04_0066E']
heating_fuel['Heating fuel- Coal or coke'] = heating_fuel['DP04_0067E']
heating_fuel['Heating fuel- Wood'] = heating_fuel['DP04_0068E']
heating_fuel['Heating fuel- Solar Energy'] = heating_fuel['DP04_0069E']
heating_fuel['Heating fuel- Other Field'] = heating_fuel['DP04_0070E']
heating_fuel['Heating fuel- No Fuel Used'] = heating_fuel['DP04_0071E']

for i in title:
   heating_fuel[i+ '_rate'] = heating_fuel[i] / heating_fuel['DP04_0062E']

droplist=['DP04_0062E', 'DP04_0063E', 'DP04_0064E', 'DP04_0065E', 'DP04_0066E',
       'DP04_0067E', 'DP04_0068E', 'DP04_0069E', 'DP04_0070E', 'DP04_0071E',
       'Heating fuel- Utility Gas', 'Heating fuel- Bottled, tank, or LP gas',
       'Heating fuel- Electricity', 'Heating fuel- Fuel oil, kerosene, etc.',
       'Heating fuel- Coal or coke', 'Heating fuel- Wood',
       'Heating fuel- Solar Energy', 'Heating fuel- Other Field','Heating fuel- No Fuel Used',]

state_code=[]
county_code = []
census_tract = []
for i in heating_fuel['GEO_ID']:
    state_code.append(i[9:11])
    county_code.append(i[11:14])
    census_tract.append(i[14:])
heating_fuel['state_code']=state_code
heating_fuel['county_code']=county_code
heating_fuel['census_tract']=census_tract

heating_fuel=heating_fuel.drop(droplist, axis=1)
heating_fuel.to_csv('heating_fuel.csv')

/Users/freda/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-60-fa941c756c64>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel[i]= heating_fuel[i].astype(float)
<ipython-input-60-fa941c756c64>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Utility Gas'] = heating_fuel['DP04_0063E']
<ipython-input-60-fa941c756c64>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Bottled, tank, or LP gas'] = heating_fuel['DP04_0064E']
<ipython-input-60-fa941c756c64>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Electricity'] = heating_fuel['DP04_0065E']
<ipython-input-60-fa941c756c64>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Fuel oil, kerosene, etc.'] = heating_fuel['DP04_0066E']
<ipython-input-60-fa941c756c64>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Coal or coke'] = heating_fuel['DP04_0067E']
<ipython-input-60-fa941c756c64>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Wood'] = heating_fuel['DP04_0068E']
<ipython-input-60-fa941c756c64>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Solar Energy'] = heating_fuel['DP04_0069E']
<ipython-input-60-fa941c756c64>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- Other Field'] = heating_fuel['DP04_0070E']
<ipython-input-60-fa941c756c64>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['Heating fuel- No Fuel Used'] = heating_fuel['DP04_0071E']
<ipython-input-60-fa941c756c64>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel[i+ '_rate'] = heating_fuel[i] / heating_fuel['DP04_0062E']
<ipython-input-60-fa941c756c64>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['state_code']=state_code
<ipython-input-60-fa941c756c64>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['county_code']=county_code
<ipython-input-60-fa941c756c64>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heating_fuel['census_tract']=census_tract

In [63]:
heating_fuel.columns

Index(['GEO_ID', 'NAME', 'Heating fuel- Utility Gas_rate',
       'Heating fuel- Bottled, tank, or LP gas_rate',
       'Heating fuel- Electricity_rate',
       'Heating fuel- Fuel oil, kerosene, etc._rate',
       'Heating fuel- Coal or coke_rate', 'Heating fuel- Wood_rate',
       'Heating fuel- Solar Energy_rate', 'Heating fuel- Other Field_rate',
       'Heating fuel- No Fuel Used_rate', 'state_code', 'county_code',
       'census_tract'],
      dtype='object')

## Merging data to big data

In [73]:
import pandas as pd
data=pd.read_excel('data_star&gro&pop&marr&fert&MF.xlsx')
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,annual_visits,pop_2020,pop_growth_10yr_2020,pop_growth_1yr_2020,Age_20_44_perc_2019,Age_20_44_growth_4yr_2019,Age_20_44_growth_1yr_2019,married_perc_2019,fertility_1000_2019,MF_built_2019
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,3766864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,3124258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,6980220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,5485986,4998.0,-6.442577,-17.904074,0.370894,-105.0,340.0,0.816360,61.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,1703267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,1002323,5479.0,42.526008,44.717380,0.343899,-208.0,-130.0,1.561014,33.0,NaN
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,696199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,766521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,1537188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019'],
      dtype='object')

In [75]:
data['PROPERTY_ZIPCODE']=data['PROPERTY_ZIPCODE'].astype(int)
df_1= pd.read_csv('Vacant_rate.csv',index_col=0)
df_1['Zip Code']=df_1['Zip Code'].astype(int)
data=pd.merge(data,df_1,how='left',left_on='PROPERTY_ZIPCODE',right_on='Zip Code',suffixes=['','_vac'])

data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,Age_20_44_perc_2019,Age_20_44_growth_4yr_2019,Age_20_44_growth_1yr_2019,married_perc_2019,fertility_1000_2019,MF_built_2019,Zip Code,Metro Area,State,Vacant Rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,88.0,33012.0,"Miami-Fort Lauderdale-Pompano Beach, FL MSA",FL,0.066907
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,88.0,33054.0,"Miami-Fort Lauderdale-Pompano Beach, FL MSA",FL,0.149902
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,88.0,33162.0,"Miami-Fort Lauderdale-Pompano Beach, FL MSA",FL,0.136244
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,88.0,33136.0,"Miami-Fort Lauderdale-Pompano Beach, FL MSA",FL,0.221850
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,0.370894,-105.0,340.0,0.816360,61.0,88.0,33016.0,"Miami-Fort Lauderdale-Pompano Beach, FL MSA",FL,0.045261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,0.343899,-208.0,-130.0,1.561014,33.0,NaN,72758.0,"Fayetteville-Springdale-Rogers, AR-MO MSA",AR,0.103473
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,72758.0,"Fayetteville-Springdale-Rogers, AR-MO MSA",AR,0.103473
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,3.0,72701.0,"Fayetteville-Springdale-Rogers, AR-MO MSA",AR,0.115085
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,37604.0,"Johnson City, TN MSA",TN,0.109523

In [76]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Zip Code', 'Metro Area', 'State', 'Vacant Rate'],
      dtype='object')

In [77]:
droplist=['Zip Code', 'Metro Area', 'State']
data=data.drop(droplist,axis=1)
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,pop_2020,pop_growth_10yr_2020,pop_growth_1yr_2020,Age_20_44_perc_2019,Age_20_44_growth_4yr_2019,Age_20_44_growth_1yr_2019,married_perc_2019,fertility_1000_2019,MF_built_2019,Vacant Rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.066907
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.149902
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.136244
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.221850
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,4998.0,-6.442577,-17.904074,0.370894,-105.0,340.0,0.816360,61.0,88.0,0.045261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,5479.0,42.526008,44.717380,0.343899,-208.0,-130.0,1.561014,33.0,NaN,0.103473
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.103473
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.115085
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.109523

In [44]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Median Home Price'],
      dtype='object')

In [90]:
df_3=pd.read_csv('rental_Vacancy_rate.csv',index_col=0)
data=pd.merge(data,df_3,on =['census_tract','state_code', 'county_code'], how='left', suffixes=['','_vac'] )

data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,Age_20_44_perc_2019,Age_20_44_growth_4yr_2019,Age_20_44_growth_1yr_2019,married_perc_2019,fertility_1000_2019,MF_built_2019,Vacant Rate,GEO_ID,NAME,Rental Vacancy Rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,88.0,0.066907,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,88.0,0.149902,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,88.0,0.136244,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,88.0,0.221850,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,0.370894,-105.0,340.0,0.816360,61.0,88.0,0.045261,1400000US12086013500,"Census Tract 135, Miami-Dade County, Florida",4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,0.343899,-208.0,-130.0,1.561014,33.0,NaN,0.103473,1400000US05007020405,"Census Tract 204.05, Benton County, Arkansas",11.4
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,0.103473,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,3.0,0.115085,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,0.109523,NaN,NaN,NaN

In [91]:
droplist=['GEO_ID', 'NAME']
data=data.drop(droplist,axis=1)
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,pop_growth_10yr_2020,pop_growth_1yr_2020,Age_20_44_perc_2019,Age_20_44_growth_4yr_2019,Age_20_44_growth_1yr_2019,married_perc_2019,fertility_1000_2019,MF_built_2019,Vacant Rate,Rental Vacancy Rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.066907,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.149902,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.136244,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,0.221850,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,-6.442577,-17.904074,0.370894,-105.0,340.0,0.816360,61.0,88.0,0.045261,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,42.526008,44.717380,0.343899,-208.0,-130.0,1.561014,33.0,NaN,0.103473,11.4
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.103473,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.115085,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.109523,NaN

In [92]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Rental Vacancy Rate'],
      dtype='object')

In [93]:
df_4=pd.read_csv('bedroom_numbers_rate.csv',index_col=0)
data=pd.merge(data,df_4,on =['census_tract','state_code', 'county_code'], how='left', suffixes=['','_vac'] )
data.head(5)

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,Vacant Rate,Rental Vacancy Rate,GEO_ID,NAME,1 bedroom_rate,2 bedrooms_rate,3 bedrooms_rate,4 bedrooms_rate,5 or more bedrooms_rate,No bedroom_rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,0.066907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,0.149902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,0.136244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,0.221850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,0.045261,4.8,1400000US12086013500,"Census Tract 135, Miami-Dade County, Florida",0.188163,0.477387,0.286432,0.009492,0.0,0.038526

In [94]:
droplist=['GEO_ID', 'NAME']
data=data.drop(droplist,axis=1)
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,fertility_1000_2019,MF_built_2019,Vacant Rate,Rental Vacancy Rate,1 bedroom_rate,2 bedrooms_rate,3 bedrooms_rate,4 bedrooms_rate,5 or more bedrooms_rate,No bedroom_rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,88.0,0.066907,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,88.0,0.149902,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,88.0,0.136244,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,88.0,0.221850,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,61.0,88.0,0.045261,4.8,0.188163,0.477387,0.286432,0.009492,0.000000,0.038526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,33.0,NaN,0.103473,11.4,0.124231,0.232233,0.214885,0.304980,0.082261,0.041410
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,0.103473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,3.0,0.115085,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,0.109523,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Rental Vacancy Rate', '1 bedroom_rate',
       '2 bedrooms_rate', '3 bedrooms_rate', '4 bedrooms_rate',
       '5 or more bedrooms_rate', 'No bedroom_rate'],
      dtype='object')

In [96]:
df_5=pd.read_csv('rental_rate.csv',index_col=0)
data=pd.merge(data,df_5,on =['census_tract','state_code', 'county_code'], how='left', suffixes=['','_vac'] )

data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,GEO_ID,NAME,Rental Less than $500_rate,Rental $500 ~ $999_rate,Rental $1000 ~ $1499_rate,Rental $1500 ~ $1999_rate,Rental $2000 ~ $2499_rate,Rental $2500 ~ $2999_rate,Rental $3000 or more_rate,No rent paid_rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,1400000US12086013500,"Census Tract 135, Miami-Dade County, Florida",0.155466,0.049393,0.582996,0.212146,0.000000,0.0,0.000000,0.016194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,1400000US05007020405,"Census Tract 204.05, Benton County, Arkansas",0.031022,0.448905,0.383212,0.100365,0.023723,0.0,0.012774,0.109489
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
droplist=['GEO_ID', 'NAME']
data=data.drop(droplist,axis=1)
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,5 or more bedrooms_rate,No bedroom_rate,Rental Less than $500_rate,Rental $500 ~ $999_rate,Rental $1000 ~ $1499_rate,Rental $1500 ~ $1999_rate,Rental $2000 ~ $2499_rate,Rental $2500 ~ $2999_rate,Rental $3000 or more_rate,No rent paid_rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,0.000000,0.038526,0.155466,0.049393,0.582996,0.212146,0.000000,0.0,0.000000,0.016194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,0.082261,0.041410,0.031022,0.448905,0.383212,0.100365,0.023723,0.0,0.012774,0.109489
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df_6=pd.read_csv('median_rental.csv',index_col=0)
data=pd.merge(data,df_6,on =['census_tract','state_code', 'county_code'], how='left', suffixes=['','_vac'] )

data.head(5)

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,Rental $500 ~ $999_rate,Rental $1000 ~ $1499_rate,Rental $1500 ~ $1999_rate,Rental $2000 ~ $2499_rate,Rental $2500 ~ $2999_rate,Rental $3000 or more_rate,No rent paid_rate,GEO_ID,NAME,Median Rental Paid
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,0.049393,0.582996,0.212146,0.0,0.0,0.0,0.016194,1400000US12086013500,"Census Tract 135, Miami-Dade County, Florida",1268

In [99]:
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,Rental $500 ~ $999_rate,Rental $1000 ~ $1499_rate,Rental $1500 ~ $1999_rate,Rental $2000 ~ $2499_rate,Rental $2500 ~ $2999_rate,Rental $3000 or more_rate,No rent paid_rate,GEO_ID,NAME,Median Rental Paid
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,0.049393,0.582996,0.212146,0.000000,0.0,0.000000,0.016194,1400000US12086013500,"Census Tract 135, Miami-Dade County, Florida",1268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,0.448905,0.383212,0.100365,0.023723,0.0,0.012774,0.109489,1400000US05007020405,"Census Tract 204.05, Benton County, Arkansas",1015
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Rental Vacancy Rate', '1 bedroom_rate',
       '2 bedrooms_rate', '3 bedrooms_rate', '4 bedrooms_rate',
       '5 or more bedrooms_rate', 'No bedroom_rate',
       'Rental Less than $500_rate', 'Rental $500 ~ $999_rate',
       'Rental $1000 ~ $1499_rate', 'Rental $1500 ~ $1999_rate',
       'Rental $2000 ~ $2499_rate', 'Rental $2500 ~ $2999_rate',
       'Rental $3000 or more_rate', 'No rent paid_rate', 'GEO_ID', 'NAME',
       'Median Rental Paid'],
      dtype='object')

In [103]:
df_7=pd.read_csv('heating_fuel.csv',index_col=0)
data=pd.merge(data,df_7,on =['census_tract','state_code', 'county_code'], how='left', suffixes=['','_vac'] )

data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,NAME_vac,Heating fuel- Utility Gas_rate,"Heating fuel- Bottled, tank, or LP gas_rate",Heating fuel- Electricity_rate,"Heating fuel- Fuel oil, kerosene, etc._rate",Heating fuel- Coal or coke_rate,Heating fuel- Wood_rate,Heating fuel- Solar Energy_rate,Heating fuel- Other Field_rate,Heating fuel- No Fuel Used_rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,"Census Tract 135, Miami-Dade County, Florida",0.021412,0.0,0.935185,0.0,0.0,0.0,0.0,0.0,0.043403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,"Census Tract 204.05, Benton County, Arkansas",0.571153,0.0,0.422408,0.0,0.0,0.0,0.0,0.0,0.006439
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Rental Vacancy Rate', '1 bedroom_rate',
       '2 bedrooms_rate', '3 bedrooms_rate', '4 bedrooms_rate',
       '5 or more bedrooms_rate', 'No bedroom_rate',
       'Rental Less than $500_rate', 'Rental $500 ~ $999_rate',
       'Rental $1000 ~ $1499_rate', 'Rental $1500 ~ $1999_rate',
       'Rental $2000 ~ $2499_rate', 'Rental $2500 ~ $2999_rate',
       'Rental $3000 or more_rate', 'No rent paid_rate', 'GEO_ID', 'NAME',
       'Median Rental Paid', 'GEO_ID_vac', 'NAME_vac',
       'Heating fuel- Utility Gas_rate',
       'Heating fuel- Bottled, tank, or LP gas_rate',
       'Heating fuel- Electricity_rate',
       'Heating fuel- Fuel oil, kerosene, etc._rate',
       'Heating fuel- Coal or coke_rate', 'Heating fuel- Wood_rate',
       'Heating fuel- Solar Energy_rate', 'Heating fuel- Other Field_rate',
       'Heating fuel- No Fuel Used_rate'],
      dtype='object')

In [107]:
droplist=['GEO_ID', 'NAME','GEO_ID_vac', 'NAME_vac']
data=data.drop(droplist,axis=1)
data

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,Median Rental Paid,Heating fuel- Utility Gas_rate,"Heating fuel- Bottled, tank, or LP gas_rate",Heating fuel- Electricity_rate,"Heating fuel- Fuel oil, kerosene, etc._rate",Heating fuel- Coal or coke_rate,Heating fuel- Wood_rate,Heating fuel- Solar Energy_rate,Heating fuel- Other Field_rate,Heating fuel- No Fuel Used_rate
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,1268,0.021412,0.0,0.935185,0.0,0.0,0.0,0.0,0.0,0.043403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10872,10872,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,10873,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,...,1015,0.571153,0.0,0.422408,0.0,0.0,0.0,0.0,0.0,0.006439
10874,10874,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10875,10875,178_1315638,178,NW Arkansas,4.0,Fayetteville - Northeast,Washington,"Cliffs II, The",NaN,2071 East Citrine Link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10876,10876,190_1152213,190,East Tennessee State University,1.0,East Tennessee State University,Washington,"Haven at Knob Creek, The",NaN,1185 West Mountain View Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
data.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Rental Vacancy Rate', '1 bedroom_rate',
       '2 bedrooms_rate', '3 bedrooms_rate', '4 bedrooms_rate',
       '5 or more bedrooms_rate', 'No bedroom_rate',
       'Rental Less than $500_rate', 'Rental $500 ~ $999_rate',
       'Rental $1000 ~ $1499_rate', 'Rental $1500 ~ $1999_rate',
       'Rental $2000 ~ $2499_rate', 'Rental $2500 ~ $2999_rate',
       'Rental $3000 or more_rate', 'No rent paid_rate', 'Median Rental Paid',
       'Heating fuel- Utility Gas_rate',
       'Heating fuel- Bottled, tank, or LP gas_rate',
       'Heating fuel- Electricity_rate',
       'Heating fuel- Fuel oil, kerosene, etc._rate',
       'Heating fuel- Coal or coke_rate', 'Heating fuel- Wood_rate',
       'Heating fuel- Solar Energy_rate', 'Heating fuel- Other Field_rate',
       'Heating fuel- No Fuel Used_rate'],
      dtype='object')

In [109]:
data.to_excel('data_star&gro&pop&marr&fert&MF&homSupply.xlsx')

In [4]:
import pandas as pd
df=pd.read_excel('data_star&gro&pop&marr&fert&MF&homSupply.xlsx')
df.corr()

,Unnamed: 0,Unnamed: 0.1,MARKETID,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_PHONE,PROPERTY_UNITS,PROPERTY_SQFT,PROPERTY_ACRES,...,No rent paid_rate,Heating fuel- Utility Gas_rate,"Heating fuel- Bottled, tank, or LP gas_rate",Heating fuel- Electricity_rate,"Heating fuel- Fuel oil, kerosene, etc._rate",Heating fuel- Coal or coke_rate,Heating fuel- Wood_rate,Heating fuel- Solar Energy_rate,Heating fuel- Other Field_rate,Heating fuel- No Fuel Used_rate
Unnamed: 0,1.000000,1.000000,0.093660,-0.217057,0.628409,0.019606,0.049542,0.207937,0.224879,0.082796,...,0.010598,0.352711,0.137603,-0.356108,0.128012,0.012452,0.113131,0.006880,0.066097,-0.246823
Unnamed: 0.1,1.000000,1.000000,0.093660,-0.217057,0.628409,0.019606,0.049542,0.207937,0.224879,0.082796,...,0.010598,0.352711,0.137603,-0.356108,0.128012,0.012452,0.113131,0.006880,0.066097,-0.246823
MARKETID,0.093660,0.093660,1.000000,-0.202597,0.002263,0.275796,0.021069,-0.121488,-0.106977,0.013227,...,0.115811,0.016552,0.044364,-0.014375,0.107090,0.002420,0.054909,-0.153619,-0.001817,-0.141292
PROPERTY_ZIPCODE,-0.217057,-0.217057,-0.202597,1.000000,0.056949,-0.902230,-0.187418,-0.003118,-0.106411,-0.100579,...,-0.026855,0.235418,-0.039057,-0.225186,-0.184200,-0.013496,-0.000389,0.118930,0.080464,-0.128317
PROPERTY_LATITUDE,0.628409,0.628409,0.002263,0.056949,1.000000,-0.302003,0.132037,-0.043224,-0.045464,-0.000921,...,-0.023461,0.584303,0.159270,-0.589565,0.110317,0.007660,0.156690,0.043802,0.209299,-0.307500
PROPERTY_LONGITUDE,0.019606,0.019606,0.275796,-0.902230,-0.302003,1.000000,0.148963,0.020046,0.105075,0.087282,...,0.017327,-0.313136,0.007210,0.309668,0.144439,0.001832,-0.047633,-0.161930,-0.124286,0.095946
PROPERTY_PHONE,0.049542,0.049542,0.021069,-0.187418,0.132037,0.148963,1.000000,0.041293,0.056963,0.029195,...,-0.044188,-0.040604,0.046368,0.038536,0.018040,-0.000284,-0.009335,0.001990,-0.021629,-0.012238
PROPERTY_UNITS,0.207937,0.207937,-0.121488,-0.003118,-0.043224,0.020046,0.041293,1.000000,0.932153,0.224408,...,-0.098492,-0.093411,-0.019420,0.094838,-0.020920,0.008343,-0.029320,0.011217,-0.039124,0.028782
PROPERTY_SQFT,0.224879,0.224879,-0.106977,-0.106411,-0.045464,0.105075,0.056963,0.932153,1.000000,0.249808,...,-0.085647,-0.070740,0.005799,0.071236,-0.008779,0.002587,-0.027630,0.008545,-0.050935,0.015572
PROPERTY_ACRES,0.082796,0.082796,0.013227,-0.100579,-0.000921,0.087282,0.029195,0.224408,0.249808,1.000000,...,-0.028050,-0.041297,0.055709,0.038216,0.054740,0.012503,0.019550,-0.007909,-0.053189,-0.020961
PROPERTY_CURRENT_OCCUPANCY,-0.027815,-0.027815,-0.080873,-0.077434,0.009752,0.041416,0.043725,-0.028803,0.002356,0.020562,...,-0.039713,-0.028648,0.015954,0.025284,0.016679,-0.022003,0.008269,0.026179,-0.015404,0.040371
PROPERTY_CURRENT_RENT,-0.025888,-0.025888,-0.345636,-0.146485,-0.049940,0.082599,0.027792,0.157277,0.306822,0.017951,...,-0.044536,-0.072894,-0.000218,0.063600,-0.017874,-0.009635,-0.050386,0.098200,0.029826,0.190900
current_rent_sqft,-0.079314,-0.079314,-0.425193,-0.032582,-0.015999,-0.050390,0.014574,0.136717,0.110215,-0.074787,...,-0.053723,-0.108460,-0.049160,0.096978,-0.039018,0.001535,-0.043373,0.121410,0.093588,0.271550
state_code,-0.194283,-0.194283,0.257469,0.417981,-0.127214,-0.155544,0.054123,0.012047,-0.045935,-0.039946,...,-0.015069,0.041254,-0.007520,-0.025466,0.010705,0.001091,-0.085934,-0.082724,-0.045263,-0.258978
county_code,-0.215046,-0.215046,0.006940,0.218242,-0.233350,-0.008444,0.070235,0.023778,-0.005046,-0.004955,...,-0.059401,-0.045385,-0.022216,0.056701,-0.046445,0.016495,-0.080687,-0.014856,-0.063448,-0.127937
census_tract,-0.123908,-0.123908,0.018847,0.324853,-0.292466,-0.175776,-0.175759,0.025288,0.012959,-0.016684,...,0.049336,-0.036212,-0.038705,0.043832,-0.066222,-0.020550,-0.009901,-0.004986,-0.043423,-0.052231
block_group,0.019862,0.019862,0.029936,0.005849,0.033941,-0.021837,-0.019457,-0.018325,-0.025031,-0.000243,...,-0.001148,0.080025,0.027158,-0.082158,-0.004853,0.011530,0.014355,0.023922,0.014094,-0.004669
census_code,-0.195175,-0.195175,0.256629,0.418123,-0.128473,-0.155069,0.054444,0.012178,-0.045813,-0.039843,...,-0.015425,0.040823,-0.007648,-0.025006,0.010358,0.001199,-0.086221,-0.082576,-0.045557,-0.259063
num_of_starbucks,0.026021,0.026021,-0.266225,0.207279,0.091366,-0.225490,-0.102645,0.066969,0.045007,-0.093096,...,-0.097815,-0.018585,-0.062421,0.018635,-0.036482,0.006973,-0.067626,0.036021,0.092955,0.077286
num_of_geocery,-0.003364,-0.003364,-0.241601,-0.060418,0.007282,0.028387,-0.018504,0.060664,0.061017,-0.043028,...,-0.106238,-0.051656,-0.103743,0.053200,-0.004801,0.007802,-0.064122,0.025572,0.025703,0.106611
annual_visits,-0.085821,-0.085821,-0.197149,0.104894,-0.142034,-0.093846,-0.108199,0.042490,0.031113,-0.064641,...,-0.069270,-0.045872,-0.125048,0.049206,-0.056406,0.026597,-0.070692,0.043712,0.016824,0.123597
pop_2020,-0.040570,-0.040570,-0.010983,-0.029605,-0.105811,0.049354,-0.077034,0.051307,0.100912,0.107394,...,0.043182,0.018786,0.059512,-0.020368,-0.018201,-0.009072,-0.015932,0.083290,-0.042442,-0.029573
pop_growth_10yr_2020,0.014232,0.014232,-0.089236,-0.038341,-0.025370,0.065007,-0.011608,0.134287,0.189977,0.047739,...,-0.019125,-0.088249,0.065319,0.085571,-0.015512,-0.033823,-0.019684,0.062313,-0.017982,-0.014596
pop_growth_1yr_2020,0.004843,0.004843,-0.013115,0.007425,0.003159,0.000935,-0.001440,0.034505,0.035529,-0.002864,...,-0.014751,-0.008421,-0.007660,0.010098,-0.006426,-0.005766,-0.006007,0.002357,-0.004375,-0.018608
Age_20_44_perc_2019,0.042813,0.042813,-0.103286,0.073663,0.046644,-0.054225,-0.020148,0.135235,0.087348,-0.048085,...,-0.237880,-0.249790,-0.041596,0.254334,-0.057691,0.013317,-0.063244,-0.042784,0.037954,0.008915
Age_20_44_growth_4yr_2019,-0.020652,-0.020652,-0.015422,0.087919,-0.009271,-0.073535,-0.054018,0.050473,0.023120,-0.054491,...,-0.107239,-0.185895,-0.018457,0.188019,-0.026907,-0.005378,-0.018223,-0.040350,0.018011,0.005197
Age_20_44_growth_1yr_2019,-0.021581,-0.021581,-0.051544,0.001354,-0.005291,0.002585,-0.006620,0.029639,0.056949,0.014128,...,-0.008606,-0.024858,0.017152,0.024355,-0.016091,-0.010354,-0.003269,0.024417,0.010000,-0.009912
married_perc_2019,0.008545,0.008545,0.012196,0.019669,0.029358,-0.005425,0.016360,0.022410,0.028261,-0.010770,...,0.012738,0.058452,0.007439,-0.056800,-0.000017,-0.003969,0.002655,0.009288,-0.003947,-0.046331
fertility_1000_2019,0.014418,0.014418,0.030514,0.063638,0.026187,-0.042731,-0.008729,0.009777,-0.017811,0.023197,...,0.016212,0.017176,0.002657,-0.015674,-0.025797,0.030829,-0.007697,-0.008333,0.001500,-0.018862
MF_built_2019,-0.292632,-0.292632,-0.213370,0.204297,-0.332118,-0.024970,-0.162135,0.051561,0.018008,-0.056204,...,-0.061754,-0.242718,-0.119663,0.246832,-0.076656,-0.029530,-0.066204,-0.046098,-0.048967,0.137141
Vacant Rate,-0.137503,-0.137503,-0.002348,-0.219857,-0.257622,0.176399,-0.049691,-0.026736,-0.026998,-0.035472,...,0.026597,-0.312417,-0.071694,0.304401,0.009306,-0.008358,-0.021227,-0.039366,-0.018668,0.282660
1 bedroom_rate,-0.097849,-0.097849,-0.164052,0.231964,-0.068236,-0.131529,-0.034907,0.171462,0.063588,-0.101122,...,-0.258466,-0.360618,-0.130305,0.369346,-0.089483,0.008004,-0.116741,-0.063725,0.035921,0.076963
2 bedrooms_rate,0.005025,0.005025,-0.074024,-0.153684,-0.027237,0.089491,0.052525,0.049360,0.046172,0.026039,...,-0.165471,-0.315334,-0.077099,0.312841,0.017396,0.010143,-0.039208,-0.085937,0.018877,0.171084
3 bedrooms_rate,-0.002504,-0.002504,0.216805,-0.145003,-0.021077,0.128473,0.015511,-0.183607,-0.120331,0.042784,...,0.255414,0.266813,0.103763,-0.270882,0.075307,-0.019967,0.110452,0.054367,-0.071713,-0.114937
4 bedrooms_rate,0.069110,0.069110,0.042580,0.020635,0.066083,-0.028662,-0.015716,-0.036869,0.033342,0.076016,...,0.181264,0.400378,0.104163,-0.400106,-0.011142,0.000442,0.048203,0.086616,-0.039166,-0.157762
5 or more bedrooms_rate,0.154605,0.154605,-0.028107,0.009403,0.211997,-0.055562,-0.001115,0.011391,0.077605,0.063541,...,0.114073,0.405479,0.095344,-0.406276,-0.009770,-0.006613,0.033591,0.080204,0.012985,-0.136826
No bedroom_rate,0.005515,0.005515,-0.081001,0.117886,0.014747,-0.144876,-0.048507,0.014945,-0.067375,-0.124673,...,-0.104603,-0.175532,-0.049676,0.168471,0.016634,0.019754,-0.035135,-0.016744,0.152269,0.160370
Rental Less than $500_rate,0.044563,0.044563,0.202168,-0.045974,0.049936,0.038153,-0.034835,-0.173732,-0.215878,-0.133960,...,0.073718,0.025950,0.031494,-0.033945,0.050504,0.032205,0.061008,-0.034353,0.097802,0.046446
Rental $500 ~ $999_rate,0.059628,0.059628,0.275224,0.053419,0.086387,-0.052529,-0.007351,-0.176710,-0.295646,-0.103670,...,0.031791,-0.046464,-0.016470,0.046994,0.069248,-0.010483,0.076459,-0.117723,0.014077,-0.032244
Rental $1000 ~ $1499_rate,0.020946,0.020946,-0.164996,-0.067699,-0.045399,0.052869,0.053301,0.163506,0.227555,0.187425,...,-0.087181,-0.067902,0.008584,0.073258,-0.054439,0.025743,-0.046544,0.048210,-0.050291,-0.071890
Rental $1500 ~ $1999_rate,-0.096309,-0.096309,-0.255523,0.015595,-0.068143,-0.008339,-0.017333,0.130051,0.229088,0.023247,...,-0.006279,0.085199,-0.005039,-0.086457,-0.055869,-0.015139,-0.069479,0.101168,-0.016594,0.072422
Rental $2000 ~ $2499_rate,-0.077076,-0.077076,-0.159017,0.001275,-0.057844,0.016631,-0.037118,0.083365,0.143137,-0.022655,...,0.000806,0.090049,-0.002531,-0.093081,-0.037703,-0.013712,-0.049966,0.078153,0.001694,0.088189
Rental $2500 ~ $2999_rate,-0.056874,-0.056874,-0.097015,-0.003500,-0.055498,0.015841,-0.018527,0.022262,0.064128,-0.039798,...,0.084553,0.070945,0.014289,-0.074006,-0.020898,-0.026107,-0.031396,0.047752,0.009470,0.057550
Rental $3000 or more_rate,-0.038427,-0.038427,-0.053269,0.002226,-0.041124,0.013239,-0.008441,0.020602,0.061039,-0.018956,...,0.052095,0.072158,0.028362,-0.076083,0.017573,-0.014898,-0.011603,0.054801,0.040956,0.013005
No rent paid_rate,0.010598,0.010598,0.115811,-0.026855,-0.023461,0.017327,-0.044188,-0.098492,-0.085647,-0.028050,...,1.000000,0.111291,0.148177,-0.122097,0.046818,0.010868,0.057764,0.003315,0.020511,-0.013682
Heating fuel- Utility Gas_rate,0.352711,0.352711,0.016552,0.235418,0.584303,-0.313136,-0.040604,-0.093411,-0.070740,-0.041297,...,0.111291,1.000000,0.118410,-0.996022,-0.007940,-0.000204,0.096805,0.029670,0.098108,-0.313808
"Heating fuel- Bottled, tank, or LP gas_rate",0.137603,0.137603,0.044364,-0.039057,0.159270,0.007210,0.046368,-0.019420,0.005799,0.055709,...,0.148177,0.118410,1.000000,-0.181470,0.121763,-0.004014,0.187266,0.020333,0.116231,-0.093943
Heating fuel- Electricity_rate,-0.356108,-0.356108,-0.014375,-0.225186,-0.589565,0.309668,0.038536,0.094838,0.071236,0.038216,...,-0.122097,-0.996022,-0.181470,1.000000,-0.028138,-0.002840,-0.130756,-0.044193,-0.129237,0.273198
"Heating fuel- Fuel oil, kerosene, etc._rate",0.128012,0.128012,0.107090,-0.184200,0.110317,0.144439,0.018040,-0.020920,-0.008779,0.054740,...,0.046818,-0.007940,0.121763,-0.028138,1.000000,-0.017384,0.149102,0.011288,0.063206,-0.039902
Heating fuel- Coal or coke_rate,0.012452,0.012452,0.002420,-0.013496,0.007660,0.001832,-0.000284,0.008343,0.002587,0.012503,...,0.010868,-0.000204,-0.004014,-0.002840,-0.017384,1.000000,-0.017956,-0.015731,-0.024381,0.001491
Heating fuel- Wood_rate,0.113131,0.113131,0.054909,-0.000389,0.156690,-0.047633,-0.009335,-0.029320,-0.027630,0.019550,...,0.057764,0.096805,0.187266,-0.130756,0.149102,-0.017956,1.000000,0.004656,0.059041,-0.015623
Heating fuel- Solar Energy_rate,0.006880,0.006880,-0.153619,0.118930,0.043802,-0.161930,0.001990,0.011217,0.008545,-0.007909,...,0.003315,0.029670,0.020333,-0.044193,0.011288,-0.015731,0.004656,1.000000,0.050626,-0.024922
Heating fuel- Other Field_rate,0.066097,0.066097,-0.001817,0.080464,0.209299,-0.124286,-0.021629,-0.039124,-0.050935,-0.053189,...,0.020511,0.098108,0.116231,-0.129237,0.063206,-0.024381,0.059041,0.050626,1.000000,0.055838
Heating fuel- No Fuel Used_rate,-0.246823,-0.246823,-0.141292,-0.128317,-0.307500,0.095946,-0.012238,0.028782,0.015572,-0.020961,...,-0.013682,-0.313808,-0.093943,0.273198,-0.039902,0.001491,-0.015623,-0.024922,0.055838,1.000000

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'current_rent_sqft',
       'state_code', 'county_code', 'census_tract', 'block_group',
       'census_code', 'num_of_starbucks', 'num_of_geocery', 'annual_visits',
       'pop_2020', 'pop_growth_10yr_2020', 'pop_growth_1yr_2020',
       'Age_20_44_perc_2019', 'Age_20_44_growth_4yr_2019',
       'Age_20_44_growth_1yr_2019', 'married_perc_2019', 'fertility_1000_2019',
       'MF_built_2019', 'Vacant Rate', 'Rental Vacancy Rate', '1 bedroom_rate',
       '2 bedrooms_rate', '3 bedrooms_rate', '4 bedrooms_rate',
       '5 or more bedrooms_rate', 'No bedroom_rate',
       'Rental Less than $500_rate', 'Rental $500 ~ $999_rate',
       'Rental $1000 ~ $1499_rate', 'Rental $1500 ~ $1999_rate',
       'Rental $2000 ~ $2499_rate', 'Rental $2500 ~ $2999_rate',
       'Rental $3000 or more_rate', 'No rent paid_rate', 'Median Rental Paid',
       'Heating fuel- Utility Gas_rate',
       'Heating fuel- Bottled, tank, or LP gas_rate',
       'Heating fuel- Electricity_rate',
       'Heating fuel- Fuel oil, kerosene, etc._rate',
       'Heating fuel- Coal or coke_rate', 'Heating fuel- Wood_rate',
       'Heating fuel- Solar Energy_rate', 'Heating fuel- Other Field_rate',
       'Heating fuel- No Fuel Used_rate'],
      dtype='object')

# Outliers

In [1]:
import pandas as pd
data = pd.read_excel('data_final_2.19.xlsx', index_col = 0)
data.head()

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,2258.0,18903.0,82.0,2.741558,26.807562,77.954320,93.495531,164200,1131.0,1018.167331

In [3]:
import numpy as np
# remove inf values
# np.inf ignore missing value
data = data[data.current_rent_sqft != np.inf]
data = data[data.pop_growth_1yr_2020 != np.inf]

# clean by removing white space
data.loc[data['PROPERTY_LOCRATING'] == 'B ', 'PROPERTY_LOCRATING'] = 'B'
data.loc[data['PROPERTY_LOCRATING'] == 'C ', 'PROPERTY_LOCRATING'] = 'C'

In [4]:
# current shape
data.shape

(10870, 89)

In [5]:
col_list = [data.columns[28]] + list(data.columns[34:])
perc_list = list(np.arange(0, 0.1, 0.01)) + list(np.arange(99.9, 100, 0.01))
df = []
for i in col_list:
        perc = np.nanpercentile(data.loc[data[i] !=np.inf, i], perc_list)
        df.append(perc)
        
pd.DataFrame(df, index = col_list, columns = perc_list).T

,current_rent_sqft,num_of_starbucks,num_of_geocery,annual_visits,pop_2020,pop_growth_10yr_2020,pop_growth_1yr_2020,Age_20_44_perc_2019,Age_20_44_growth_4yr_2019,Age_20_44_growth_1yr_2019,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0.00,0.499064,0.0000,0.0000,0.000000e+00,930.0000,-81.873112,-37.343806,0.062170,-1833.0000,-1121.0000,...,4.0000,3699.0000,0.0000,0.000000,12.710330,40.173218,58.721934,9.999000e+03,241.0000,348.404993
0.01,0.569094,0.0000,0.0000,0.000000e+00,987.1712,-80.696864,-34.108170,0.096040,-1684.0000,-1121.0000,...,4.0000,4481.3837,0.0000,0.000000,12.884027,40.336446,69.016167,9.999000e+03,364.6952,366.819488
0.02,0.587150,0.0000,0.0000,0.000000e+00,1033.2594,-76.931114,-34.100606,0.100918,-1684.0000,-1121.0000,...,4.0000,6009.0000,0.0000,0.000000,14.758638,42.051567,70.171539,9.999000e+03,375.9974,394.492661
0.03,0.590573,0.0000,0.0000,0.000000e+00,1044.5214,-58.992412,-33.635330,0.108108,-1662.8833,-1121.0000,...,33.4591,6009.0000,0.0000,0.000000,14.758638,42.051567,70.348054,1.046852e+04,397.3463,405.153465
0.04,0.596530,0.0000,0.0000,0.000000e+00,1046.0000,-58.886619,-32.417864,0.108108,-1584.2296,-1007.6824,...,119.0856,6009.0000,0.0000,0.000000,14.758638,42.051567,70.815884,1.218236e+04,412.6900,415.894918
0.05,0.601555,0.0000,0.0000,0.000000e+00,1046.4345,-58.886619,-32.320333,0.108108,-1539.8755,-795.0000,...,146.0285,6014.2140,0.0000,0.000000,14.788745,42.051567,72.355834,1.337795e+04,429.0000,422.430055
0.06,0.603366,0.0000,0.0000,0.000000e+00,1047.0000,-55.773689,-31.941995,0.119290,-1528.0000,-795.0000,...,201.0272,6043.4202,0.0000,0.000000,14.859124,43.724149,74.368532,1.400000e+04,432.6498,433.939580
0.07,0.607108,0.0000,0.0000,0.000000e+00,1064.0324,-52.587834,-31.425199,0.130343,-1462.3036,-673.3400,...,224.0000,6064.0000,0.0000,0.000000,14.887583,45.259434,74.761147,1.400000e+04,436.6083,438.690487
0.08,0.611055,0.0000,0.0000,0.000000e+00,1080.5616,-51.009529,-31.241016,0.131178,-1414.4384,-595.0000,...,226.7808,6515.8800,0.0000,0.000000,14.941708,45.606130,74.983501,1.400000e+04,439.0856,443.771414
0.09,0.613295,0.0000,0.0000,0.000000e+00,1139.3112,-49.251333,-30.791116,0.134327,-1390.8833,-595.0000,...,242.0778,7241.9175,0.0000,0.000000,15.064600,45.758134,75.681503,1.478210e+04,445.4747,445.807055
99.90,3.795220,35.0000,12.0000,8.404731e+06,14773.0000,79.891842,113.534173,0.813095,2817.0000,816.8250,...,5282.6810,82470.0000,1209.0000,32.030651,41.235160,99.600048,100.000000,1.229831e+06,2122.0000,2095.376176
99.91,3.804116,35.0000,12.0000,8.404731e+06,14773.0000,81.216561,115.752910,0.813095,2838.3542,882.0000,...,5327.0000,82835.8541,1209.0000,32.110159,41.352265,99.660602,100.000000,1.345976e+06,2123.7432,2101.043204
99.92,3.900910,35.6096,12.0000,8.413151e+06,14773.0000,83.454948,131.042621,0.816579,2922.0104,896.0208,...,5393.4464,84149.0000,1209.0000,32.395532,41.729692,99.735516,100.000000,1.423966e+06,2135.4864,2121.483280
99.93,3.965206,37.0000,12.0000,8.448967e+06,14773.0000,83.505851,147.752248,0.826309,2938.0000,928.0000,...,5545.0000,84149.0000,1217.2257,32.627884,41.729692,99.882816,100.000000,1.508188e+06,2148.0000,2125.962889
99.94,3.992702,37.0000,12.0000,8.514256e+06,14905.0936,83.505851,147.752248,0.829078,2957.1440,985.4320,...,5545.0000,85560.3914,1230.0000,32.988722,41.729692,100.000000,100.000000,1.624178e+06,2176.7160,2132.566697
99.95,4.013504,37.5655,12.0000,8.793187e+06,17088.7585,83.505851,147.752248,0.829078,3037.3775,1101.1570,...,5545.0000,87567.9305,1230.0000,33.183600,41.729692,100.000000,100.000000,1.690500e+06,2209.6965,2143.314032
99.96,4.127983,38.0000,12.6524,8.974444e+06,18656.0000,87.397535,149.418804,0.829078,3083.0000,1142.0000,...,5545.0000,90723.2292,1230.0000,33.333333,41.855537,100.000000,100.000000,1.690500e+06,2214.9144,2165.590895
99.97,4.273971,38.0000,13.0000,9.118610e+06,18656.0000,89.471033,3931.499564,0.829078,3083.0000,1142.0000,...,5545.0000,93325.3858,1230.0000,33.333333,41.920136,100.000000,100.000000,1.690500e+06,2276.1440,2212.068645
99.98,4.415016,41.3048,13.0000,9.174510e+06,28192.8266,89.471033,5264.864865,0.834383,3768.7460,1142.0000,...,7351.0732,96068.5390,1509.2556,33.333333,42.757051,100.000000,100.000000,1.690500e+06,2406.8846,2225.824176
99.99,4.761154,42.0000,13.0000,9.175575e+06,30199.0000,89.471033,5264.864865,0.835499,3913.0000,1142.0000,...,7731.0000,98686.8706,1568.0000,33.669408,42.927981,100.000000,100.000000,1.690500e+06,2978.7731,2696.906121

In [6]:
# notes for percentile_cut (cut >= )
percentile_cut = []

In [7]:
pd.DataFrame(col_list)

                                              0
0                             current_rent_sqft
1                              num_of_starbucks
2                                num_of_geocery
3                                 annual_visits
4                                      pop_2020
5                          pop_growth_10yr_2020
6                           pop_growth_1yr_2020
7                           Age_20_44_perc_2019
8                     Age_20_44_growth_4yr_2019
9                     Age_20_44_growth_1yr_2019
10                            married_perc_2019
11                          fertility_1000_2019
12                                MF_built_2019
13                                  Vacant Rate
14                          Rental Vacancy Rate
15                               1 bedroom_rate
16                              2 bedrooms_rate
17                              3 bedrooms_rate
18                              4 bedrooms_rate
19                      5 or more bedrooms_rate
20                              No bedroom_rate
21                   Rental Less than $500_rate
22                      Rental $500 ~ $999_rate
23                    Rental $1000 ~ $1499_rate
24                    Rental $1500 ~ $1999_rate
25                    Rental $2000 ~ $2499_rate
26                    Rental $2500 ~ $2999_rate
27                    Rental $3000 or more_rate
28                            No rent paid_rate
29                           Median Rental Paid
30               Heating fuel- Utility Gas_rate
31  Heating fuel- Bottled, tank, or LP gas_rate
32               Heating fuel- Electricity_rate
33  Heating fuel- Fuel oil, kerosene, etc._rate
34              Heating fuel- Coal or coke_rate
35                      Heating fuel- Wood_rate
36              Heating fuel- Solar Energy_rate
37               Heating fuel- Other Field_rate
38              Heating fuel- No Fuel Used_rate
39                                num_of_school
40                       num_of_law_enforcement
41                             num_of_fast_food
42                                num_of_market
43                              num_of_hospital
44                              num_of_airports
45                       num_of_vegie_resturant
46                             Population_20_44
47                                Median Income
48                          # of Tech Employees
49                          % of Tech Employees
50                       Average Commuting Time
51                    Health Insurance Rate (%)
52                     Internet Access Rate (%)
53                            Median Home Value
54                             Median Home Rent
55                            Average Home Rent

In [8]:
def outlier_check(col_num = 0, beg = 99.9, end = 100, freq = 0.01):
    perc_list = list(np.arange(beg, end, freq))
    perc = np.nanpercentile(data[col_list[col_num]], perc_list)
    return pd.DataFrame(perc, perc_list)

In [9]:
outlier_check()

              0
99.90  3.795220
99.91  3.804116
99.92  3.900910
99.93  3.965206
99.94  3.992702
99.95  4.013504
99.96  4.127983
99.97  4.273971
99.98  4.415016
99.99  4.761154

# Machine Learning: Random Forest

In [195]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
import scipy.stats as sps
import matplotlib.pyplot as plt
import datetime as dt
import gc
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.ensemble import RandomForestRegressor
from numpy import set_printoptions
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

from pprint import pprint

from subprocess import check_output
%matplotlib inline

from mlxtend.feature_selection import SequentialFeatureSelector as SFS
%matplotlib inline
start_time = dt.datetime.now()

## Imprating A

In [196]:
df_IM_A = pd.read_csv('data_PROPERTY_IMPRATING_A.csv')
df_IM_A

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,44_7641,44,Tampa - St Petersburg - Clearwater,52.0,Davenport,Polk,"Portofino at ChampionsGate, The",Valencia Resort Apartments at Champions Gate,14100 Portofino Way,ChampionsGate,...,2377.0,29714.0,63.0,1.921317,30.163259,88.592907,98.333061,184400,1405.0,1212.477718
1,45_1082,45,Orlando,20.0,Maitland,Orange,"Q at Maitland, The",Packwood,430 East Packwood Avenue,Maitland,...,435.0,40352.0,130.0,14.476615,21.660053,96.511628,97.251586,414100,1432.0,1437.788018
2,55_2888,55,Fort Lauderdale,11.0,Deerfield Beach,Broward,Crystal Riviyera,NaN,3801 Crystal Lake Drive,Pompano Beach,...,2961.0,22541.0,104.0,3.075103,27.450599,64.217356,97.664234,163200,1157.0,1210.884354
3,56_1121,56,West Palm Beach - Boca Raton,12.0,Lantana,Palm Beach,"Bridgewater at Lake Osborne, The",NaN,6116 Yellow Sun Drive,Lantana,...,1878.0,30353.0,171.0,5.348764,24.884105,85.363357,93.613101,232800,1323.0,1476.521739
4,101_1225600,101,North Central Florida,7.0,Orange City,Volusia,Reserve at Orange City,NaN,2500 Junior Street,Orange City,...,1461.0,23663.0,23.0,1.143141,24.756926,90.972516,85.496829,117000,874.0,1059.677419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,178_1110681,178,NW Arkansas,10.0,Rogers - West,Benton,Glen at Polo Park,NaN,6601 SW Mallet Road,Bentonville,...,2492.0,32017.0,142.0,4.675667,23.722968,96.023921,92.468078,199500,693.0,607.850708
3120,178_1110687,178,NW Arkansas,8.0,Rogers - South,Benton,"Greens on Blossom Way, The",NaN,2808 South 28th Place,Rogers,...,1302.0,54478.0,145.0,6.688192,18.418468,98.520866,99.022715,313800,851.0,846.381579
3121,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,Bentonville,...,1667.0,41284.0,145.0,6.688192,18.418468,95.718688,97.843567,250000,723.0,804.144527
3122,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,Rogers,...,1302.0,54478.0,145.0,6.688192,18.418468,98.520866,99.022715,313800,851.0,846.381579
3123,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,Rogers,...,1667.0,41284.0,145.0,6.688192,18.418468,95.718688,97.843567,250000,723.0,804.144527

In [197]:
df_IM_A['Average Commuting Time'].fillna(df_IM_A['Average Commuting Time'].median(),inplace=True)
df_IM_A

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,44_7641,44,Tampa - St Petersburg - Clearwater,52.0,Davenport,Polk,"Portofino at ChampionsGate, The",Valencia Resort Apartments at Champions Gate,14100 Portofino Way,ChampionsGate,...,2377.0,29714.0,63.0,1.921317,30.163259,88.592907,98.333061,184400,1405.0,1212.477718
1,45_1082,45,Orlando,20.0,Maitland,Orange,"Q at Maitland, The",Packwood,430 East Packwood Avenue,Maitland,...,435.0,40352.0,130.0,14.476615,21.660053,96.511628,97.251586,414100,1432.0,1437.788018
2,55_2888,55,Fort Lauderdale,11.0,Deerfield Beach,Broward,Crystal Riviyera,NaN,3801 Crystal Lake Drive,Pompano Beach,...,2961.0,22541.0,104.0,3.075103,27.450599,64.217356,97.664234,163200,1157.0,1210.884354
3,56_1121,56,West Palm Beach - Boca Raton,12.0,Lantana,Palm Beach,"Bridgewater at Lake Osborne, The",NaN,6116 Yellow Sun Drive,Lantana,...,1878.0,30353.0,171.0,5.348764,24.884105,85.363357,93.613101,232800,1323.0,1476.521739
4,101_1225600,101,North Central Florida,7.0,Orange City,Volusia,Reserve at Orange City,NaN,2500 Junior Street,Orange City,...,1461.0,23663.0,23.0,1.143141,24.756926,90.972516,85.496829,117000,874.0,1059.677419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,178_1110681,178,NW Arkansas,10.0,Rogers - West,Benton,Glen at Polo Park,NaN,6601 SW Mallet Road,Bentonville,...,2492.0,32017.0,142.0,4.675667,23.722968,96.023921,92.468078,199500,693.0,607.850708
3120,178_1110687,178,NW Arkansas,8.0,Rogers - South,Benton,"Greens on Blossom Way, The",NaN,2808 South 28th Place,Rogers,...,1302.0,54478.0,145.0,6.688192,18.418468,98.520866,99.022715,313800,851.0,846.381579
3121,178_1110705,178,NW Arkansas,10.0,Rogers - West,Benton,"Links at Rainbow Curve, The",NaN,1802 SW 34th Avenue,Bentonville,...,1667.0,41284.0,145.0,6.688192,18.418468,95.718688,97.843567,250000,723.0,804.144527
3122,178_1110729,178,NW Arkansas,8.0,Rogers - South,Benton,"Palisades at Pleasant Crossing, The",NaN,2901 South 26th Place,Rogers,...,1302.0,54478.0,145.0,6.688192,18.418468,98.520866,99.022715,313800,851.0,846.381579
3123,178_1314974,178,NW Arkansas,8.0,Rogers - South,Benton,49 West,NaN,400 Dodson Road,Rogers,...,1667.0,41284.0,145.0,6.688192,18.418468,95.718688,97.843567,250000,723.0,804.144527

### RandomizedSearchCV

In [148]:
# Create a parameter grid to sample

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 1)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

# Create training/ testing set
y=df_IM_A[['current_rent_sqft']].values
x=df_IM_A[df_IM_A.columns[34:]].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200]}

In [74]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 3, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train, y_train)

# Look at parameters used by our current forest: default value
print('Parameters currently in use:\n')
pprint(rf.get_params())

Fitting 3 folds for each of 50 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed: 19.3min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [81]:
# View the best parameters from fitting the random search
rf_random.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=20, max_features='sqrt',
                      min_samples_leaf=2, min_samples_split=10,
                      n_estimators=2000)

In [76]:
# We compare the base model with the best random search model
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [77]:
base_model = RandomForestRegressor()
base_model.fit(x_train, y_train)
base_accuracy = evaluate(base_model, x_train, y_train)

<ipython-input-77-c50d764285bf>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  base_model.fit(x_train, y_train)

Model Performance
Average Error: 0.4575 degrees.
Accuracy = 74.48%.

In [80]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test, y_test)

Model Performance
Average Error: 0.4352 degrees.
Accuracy = 75.67%.

In [82]:
# an unspectacular improvement in accurac
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 1.60%.

### GridSearchCV

In [198]:
# We compare the base model with the best random search model
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [199]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 4)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num =2)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(param_grid)

# Create training/ testing set
y=df_IM_A[['current_rent_sqft']].values
x=df_IM_A[df_IM_A.columns[34:]].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=4)

{'bootstrap': [False],
 'max_depth': [5, 10],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400]}

In [200]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_grid_search = GridSearchCV(estimator = rf, param_grid=param_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_grid_search.fit(x_train, y_train)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   22.3s
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:  1.2min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=2, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [False], 'max_depth': [5, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [202]:
# View the best parameters from fitting the grid search
rf_grid_search.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=10, max_features='sqrt',
                      min_samples_leaf=4)

In [203]:
# base_model = RandomForestRegressor()
# base_model.fit(x_train, y_train)
best_grid = rf_grid_search.best_estimator_
Train_accuracy = evaluate(best_grid, x_train, y_train)

Model Performance
Average Error: 0.4478 degrees.
Accuracy = 75.21%.

In [204]:
Test_accuracy = evaluate(best_grid, x_test, y_test)

Model Performance
Average Error: 0.4161 degrees.
Accuracy = 76.49%.

In [205]:
# # an unspectacular improvement in accurac
# print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 1.70%.

## Imprating B

In [215]:
df_IM_B = pd.read_csv('data_PROPERTY_IMPRATING_B.csv')
df_IM_B['Average Commuting Time'].fillna(df_IM_B['Average Commuting Time'].median(),inplace=True)
df_IM_B.head(5)

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,15_1433,15,Miami,18.0,Hialeah,Miami-Dade,Nikis,"Niki's Point, Del Soro",6515 West 24th Avenue,Hialeah,...,2258.0,18903.0,82.0,2.741558,26.807562,77.954320,93.495531,164200,1131.0,1018.167331
1,15_2483,15,Miami,4.0,Miami - Little Havana,Miami-Dade,Ipanema,Riverview,120 SW 8th Avenue,Miami,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
2,44_1224916,44,Tampa - St Petersburg - Clearwater,16.0,Town 'n' Country,Hillsborough,Irving Place North Rocky Point,NaN,4911 Webb Road,Tampa,...,2548.0,28947.0,241.0,6.648276,25.512074,87.125220,96.805622,189800,988.0,996.140036
3,44_1318660,44,Tampa - St Petersburg - Clearwater,13.0,Temple Terrace,Hillsborough,River Rock,NaN,11301 North 53rd Street,Temple Terrace,...,2471.0,40248.0,412.0,11.556802,29.006085,93.816283,99.003756,310800,1004.0,1013.212796
4,44_5220,44,Tampa - St Petersburg - Clearwater,49.0,Lakeland,Polk,Woodland Heights,Parkside,3726 Cleveland Heights Blvd,Lakeland,...,1369.0,33616.0,135.0,7.012987,26.903226,91.360449,92.510519,144200,916.0,837.647059

### RandomizedSearchCV

In [84]:
# Create a parameter grid to sample

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 1000, stop = 2000, num = 2)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

# Create training/ testing set
y=df_IM_B[['current_rent_sqft']].values
x=df_IM_B[df_IM_B.columns[34:]].values.astype(int)

x_train_b, x_test_b, y_train_b, y_test_b = train_test_split(x, y, test_size=0.3)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [1000, 2000]}

In [85]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train_b, y_train_b)

Fitting 2 folds for each of 50 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed: 11.6min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=2, estimator=RandomForestRegressor(), n_iter=50,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [1000, 2000]},
                   verbose=2)

In [92]:
rf_random.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=90, max_features='sqrt',
                      min_samples_split=10, n_estimators=1000)

In [86]:
base_model = RandomForestRegressor()
base_model.fit(x_train_b, y_train_b)
base_accuracy = evaluate(base_model, x_train_b, y_train_b)

<ipython-input-86-de54c46b9f5b>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  base_model.fit(x_train_b, y_train_b)

Model Performance
Average Error: 0.3737 degrees.
Accuracy = 72.31%.

In [88]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test_b, y_test_b)

Model Performance
Average Error: 0.3484 degrees.
Accuracy = 74.17%.

In [89]:
# an unspectacular improvement in accurac
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 2.57%.

### GridSearchCV

In [224]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 4)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num =2)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(param_grid)


# Create training/ testing set
y=df_IM_B[['current_rent_sqft']].values
x=df_IM_B[df_IM_B.columns[34:]].values

x_train_b, x_test_b, y_train_b, y_test_b = train_test_split(x, y, test_size=0.3, random_state=4)

{'bootstrap': [False],
 'max_depth': [5, 10],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400]}

In [225]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_grid_search = GridSearchCV(estimator = rf, param_grid=param_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_grid_search.fit(x_train_b, y_train_b)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   18.8s
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:  1.4min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=2, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [False], 'max_depth': [5, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [226]:
best_grid = rf_grid_search.best_estimator_
Train_accuracy = evaluate(best_grid, x_train_b, y_train_b)

Model Performance
Average Error: 0.3616 degrees.
Accuracy = 73.25%.

In [227]:
best_grid = rf_grid_search.best_estimator_
random_accuracy = evaluate(best_grid, x_test_b, y_test_b)

Model Performance
Average Error: 0.3379 degrees.
Accuracy = 74.92%.

## Imprating C

In [228]:
df_IM_C = pd.read_csv('data_PROPERTY_IMPRATING_C.csv')
df_IM_C['Average Commuting Time'].fillna(df_IM_C['Average Commuting Time'].median(),inplace=True)
df_IM_C.head(5)

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,2258.0,18903.0,82.0,2.741558,26.807562,77.954320,93.495531,164200,1131.0,1018.167331

### RandomizedSearchCV

In [102]:
# Create a parameter grid to sample

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 1000, stop = 2000, num = 2)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

# Create training/ testing set
y=df_IM_C[['current_rent_sqft']].values
x=df_IM_C[df_IM_B.columns[34:]].values.astype(int)

x_train_c, x_test_c, y_train_c, y_test_c = train_test_split(x, y, test_size=0.3)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [1000, 2000]}

In [103]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train_c, y_train_c)

Fitting 2 folds for each of 50 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed: 12.6min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=2, estimator=RandomForestRegressor(), n_iter=50,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [1000, 2000]},
                   verbose=2)

In [104]:
base_model = RandomForestRegressor()
base_model.fit(x_train_c, y_train_c)
base_accuracy = evaluate(base_model, x_train_c, y_train_c)

<ipython-input-104-7f26571143a4>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  base_model.fit(x_train_c, y_train_c)

Model Performance
Average Error: 0.3712 degrees.
Accuracy = 72.35%.

In [107]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test_c, y_test_c)

Model Performance
Average Error: 0.3550 degrees.
Accuracy = 74.34%.

In [108]:
# an unspectacular improvement in accurac
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 2.74%.

### GridSearchCV

In [229]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 4)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num =2)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(param_grid)


# Create training/ testing set
y=df_IM_C[['current_rent_sqft']].values
x=df_IM_C[df_IM_C.columns[34:]].values

x_train_c, x_test_c, y_train_c, y_test_c = train_test_split(x, y, test_size=0.3, random_state=4)

{'bootstrap': [False],
 'max_depth': [5, 10],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400]}

In [230]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_grid_search = GridSearchCV(estimator = rf, param_grid=param_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_grid_search.fit(x_train_c, y_train_c)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:   43.8s finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=2, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [False], 'max_depth': [5, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [231]:
best_grid = rf_grid_search.best_estimator_
Train_accuracy = evaluate(best_grid, x_train_c, y_train_c)

Model Performance
Average Error: 0.4233 degrees.
Accuracy = 66.14%.

In [232]:
best_grid = rf_grid_search.best_estimator_
random_accuracy = evaluate(best_grid, x_test_c, y_test_c)

Model Performance
Average Error: 0.4056 degrees.
Accuracy = 67.92%.

In [236]:
# an unspectacular improvement in accurac
# print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

## Locrating A

In [233]:
df_LO_A = pd.read_csv('data_PROPERTY_LOCRATING_A.csv')
df_LO_A['Average Commuting Time'].fillna(df_LO_A['Average Commuting Time'].median(),inplace=True)
df_LO_A.head(5)

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,15_1550,15,Miami,9.0,Miami - Coconut Grove,Miami-Dade,Virginia Gardens,NaN,2890 Virginia Street,Miami,...,1838.0,58209.0,413.0,19.191450,22.655612,90.081484,94.801911,461900,1749.0,1847.995418
1,15_714,15,Miami,14.0,Miami Beach,Miami-Dade,Marble Terrace,NaN,3100 Collins Avenue,Miami Beach,...,762.0,20902.0,127.0,12.246866,28.436556,85.791855,86.425339,366700,1060.0,942.949309
2,44_45,44,Tampa - St Petersburg - Clearwater,32.0,South Pasadena,Pinellas,Sand Cove,NaN,3813 Gulf Blvd,St. Petersburg,...,732.0,45681.0,201.0,9.747818,24.748496,94.654015,98.727146,517800,1487.0,1671.755725
3,55_643,55,Fort Lauderdale,11.0,Deerfield Beach,Broward,Deerfield Cove,NaN,1415 SE 8th Avenue,Deerfield Beach,...,730.0,45833.0,191.0,12.165605,28.770191,94.271912,97.377502,440900,1482.0,1598.522167
4,44_5155,44,Tampa - St Petersburg - Clearwater,43.0,Land O' Lakes,Pinellas,Seaside Villas at Gulfpoint,Bayfront Villas,3209 58th Street South,Gulfport,...,1504.0,30908.0,193.5,8.844563,23.182979,88.534331,95.936884,179800,986.5,1015.657764

### RandomizedSearchCV

In [117]:
# Create a parameter grid to sample

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 1000, stop = 2000, num = 2)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

# Create training/ testing set
y=df_LO_A[['current_rent_sqft']].values
x=df_LO_A[df_IM_B.columns[34:]].values.astype(int)

x_train_a1, x_test_a1, y_train_a1, y_test_a1 = train_test_split(x, y, test_size=0.3)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [1000, 2000]}

In [118]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train_a1, y_train_a1)

Fitting 2 folds for each of 50 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  8.2min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=2, estimator=RandomForestRegressor(), n_iter=50,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [1000, 2000]},
                   verbose=2)

In [119]:
base_model = RandomForestRegressor()
base_model.fit(x_train_a1, y_train_a1)
base_accuracy = evaluate(base_model, x_train_a1, y_train_a1)

<ipython-input-119-c31cd79c5875>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  base_model.fit(x_train_a1, y_train_a1)

Model Performance
Average Error: 0.4931 degrees.
Accuracy = 72.64%.

In [120]:
rf_random.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=40, max_features='sqrt',
                      min_samples_split=10, n_estimators=1000)

In [121]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test_a1, y_test_a1)

Model Performance
Average Error: 0.4857 degrees.
Accuracy = 73.66%.

In [122]:
# an unspectacular improvement in accurac
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 1.40%.

### GridSearchCV

In [234]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 4)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num =2)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(param_grid)


# Create training/ testing set
y=df_LO_A[['current_rent_sqft']].values
x=df_LO_A[df_LO_A.columns[34:]].values

x_train_a1, x_test_a1, y_train_a1, y_test_a1 = train_test_split(x, y, test_size=0.3, random_state=4)

{'bootstrap': [False],
 'max_depth': [5, 10],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400]}

In [235]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_grid_search = GridSearchCV(estimator = rf, param_grid=param_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_grid_search.fit(x_train_a1, y_train_a1)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:   40.8s finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=2, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [False], 'max_depth': [5, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [237]:
best_grid = rf_grid_search.best_estimator_
base_accuracy = evaluate(best_grid, x_train_a1, y_train_a1)

Model Performance
Average Error: 0.4849 degrees.
Accuracy = 73.33%.

In [238]:
best_grid = rf_grid_search.best_estimator_
random_accuracy = evaluate(best_grid, x_test_a1, y_test_a1)

Model Performance
Average Error: 0.4639 degrees.
Accuracy = 74.37%.

In [239]:
# an unspectacular improvement in accurac
# print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

## Locrating B

In [240]:
df_LO_B = pd.read_csv('data_PROPERTY_LOCRATING_B.csv')
df_LO_B['Average Commuting Time'].fillna(df_LO_B['Average Commuting Time'].median(),inplace=True)
#df_LO_B.replace([np.inf, -np.inf], np.nan, inplace=True)
df_LO_B.head(5)

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,15_413,15,Miami,10.0,Miami - Flagami,Miami-Dade,Flagler Park,NaN,437 NW 57th Avenue,Miami,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
1,44_1224916,44,Tampa - St Petersburg - Clearwater,16.0,Town 'n' Country,Hillsborough,Irving Place North Rocky Point,NaN,4911 Webb Road,Tampa,...,2548.0,28947.0,241.0,6.648276,25.512074,87.125220,96.805622,189800,988.0,996.140036
2,44_1318660,44,Tampa - St Petersburg - Clearwater,13.0,Temple Terrace,Hillsborough,River Rock,NaN,11301 North 53rd Street,Temple Terrace,...,2471.0,40248.0,412.0,11.556802,29.006085,93.816283,99.003756,310800,1004.0,1013.212796
3,44_210,44,Tampa - St Petersburg - Clearwater,6.0,Tampa - South Tampa,Hillsborough,Manhattan Flats,"Regency at Westshore, Regency on Kennedy",4350 West Kennedy Blvd,Tampa,...,1614.0,51964.0,549.0,20.333333,19.671160,90.803237,97.793973,472800,1088.0,1115.077990
4,44_550,44,Tampa - St Petersburg - Clearwater,46.0,Dade City,Pasco,Hillside Trace,NaN,37975 Hillside Lane,Dade City,...,983.0,22138.0,63.0,4.405594,32.850901,90.308219,94.623288,140400,851.0,773.134328

### RandomizedSearchCV

In [131]:
# Create a parameter grid to sample

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 1000, stop = 2000, num = 2)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

# Create training/ testing set
y=df_LO_B[['current_rent_sqft']].values
x=df_LO_B[df_IM_B.columns[34:]].values

x_train_b1, x_test_b1, y_train_b1, y_test_b1 = train_test_split(x, y, test_size=0.3)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [1000, 2000]}

In [132]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train_b1, y_train_b1)

Fitting 2 folds for each of 50 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  5.3min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=2, estimator=RandomForestRegressor(), n_iter=50,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [1000, 2000]},
                   verbose=2)

In [133]:
base_model = RandomForestRegressor()
base_model.fit(x_train_b1, y_train_b1)
base_accuracy = evaluate(base_model, x_train_b1, y_train_b1)

<ipython-input-133-b8da0c5708e0>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  base_model.fit(x_train_b1, y_train_b1)

Model Performance
Average Error: 0.5017 degrees.
Accuracy = 72.29%.

In [134]:
rf_random.best_estimator_

RandomForestRegressor(max_depth=40, max_features='sqrt', min_samples_leaf=2,
                      n_estimators=1000)

In [135]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test_a1, y_test_a1)

Model Performance
Average Error: 0.4165 degrees.
Accuracy = 75.97%.

In [136]:
# an unspectacular improvement in accurac
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 5.10%.

### GridSearchCV

In [241]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 4)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num =2)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(param_grid)

# Create training/ testing set
y=df_LO_B[['current_rent_sqft']].values
x=df_LO_B[df_IM_B.columns[34:]].values

x_train_b1, x_test_b1, y_train_b1, y_test_b1 = train_test_split(x, y, test_size=0.3, random_state=4)

{'bootstrap': [False],
 'max_depth': [5, 10],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400]}

In [242]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_grid_search = GridSearchCV(estimator = rf, param_grid=param_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_grid_search.fit(x_train_b1, y_train_b1)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   20.9s
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:  2.0min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=2, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [False], 'max_depth': [5, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [243]:
best_grid = rf_grid_search.best_estimator_
Train_accuracy = evaluate(best_grid, x_train_b1, y_train_b1)

Model Performance
Average Error: 0.4193 degrees.
Accuracy = 71.62%.

In [244]:
rf_grid_search.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=10, max_features='sqrt',
                      min_samples_leaf=4, min_samples_split=5)

In [245]:
best_grid = rf_grid_search.best_estimator_
Test_accuracy = evaluate(best_grid, x_test_b1, y_test_b1)

Model Performance
Average Error: 0.4148 degrees.
Accuracy = 71.87%.

## Locrating C

In [246]:
df_LO_C = pd.read_csv('data_PROPERTY_LOCRATING_C.csv')
df_LO_C['Average Commuting Time'].fillna(df_LO_C['Average Commuting Time'].median(),inplace=True)
#df_LO_B.replace([np.inf, -np.inf], np.nan, inplace=True)
df_LO_C.head(5)

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Population_20_44,Median Income,# of Tech Employees,% of Tech Employees,Average Commuting Time,Health Insurance Rate (%),Internet Access Rate (%),Median Home Value,Median Home Rent,Average Home Rent
0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,Hialeah,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,Opa-locka,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,North Miami Beach,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,Miami,...,1712.0,25793.0,179.5,8.091470,28.436556,84.115552,94.025421,285350,1320.0,1377.156989
4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,Hialeah,...,2258.0,18903.0,82.0,2.741558,26.807562,77.954320,93.495531,164200,1131.0,1018.167331

### RandomizedSearchCV

In [ ]:
# Create a parameter grid to sample

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 1000, stop = 2000, num = 2)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

# Create training/ testing set
y=df_LO_C[['current_rent_sqft']].values
x=df_LO_C[df_IM_B.columns[34:]].values.astype(int)

x_train_c1, x_test_c1, y_train_c1, y_test_c1 = train_test_split(x, y, test_size=0.3)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [1000, 2000]}

In [ ]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 50, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train_c1, y_train_c1)

Fitting 2 folds for each of 50 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  8.2min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=2, estimator=RandomForestRegressor(), n_iter=50,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [1000, 2000]},
                   verbose=2)

In [ ]:
base_model = RandomForestRegressor()
base_model.fit(x_train_c1, y_train_c1)
base_accuracy = evaluate(base_model, x_train_c1, y_train_c1)

<ipython-input-119-c31cd79c5875>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  base_model.fit(x_train_a1, y_train_a1)

Model Performance
Average Error: 0.4931 degrees.
Accuracy = 72.64%.

In [ ]:
rf_random.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=40, max_features='sqrt',
                      min_samples_split=10, n_estimators=1000)

In [ ]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test_c1, y_test_c1)

Model Performance
Average Error: 0.4857 degrees.
Accuracy = 73.66%.

In [ ]:
# an unspectacular improvement in accurac
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 1.40%.

### GridSearchCV

In [247]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 400, num = 4)]
# Number of features to consider at every split:  max number of features considered for splitting a node
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num =2)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [False]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(param_grid)

# Create training/ testing set
y=df_LO_C[['current_rent_sqft']].values
x=df_LO_C[df_IM_C.columns[34:]].values

x_train_c1, x_test_c1, y_train_c1, y_test_c1 = train_test_split(x, y, test_size=0.3, random_state=4)

{'bootstrap': [False],
 'max_depth': [5, 10],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300, 400]}

In [248]:
# Random Forest 
rf = RandomForestRegressor()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_grid_search = GridSearchCV(estimator = rf, param_grid=param_grid, cv = 2, verbose=2, n_jobs = -1)
# Fit the random search model
rf_grid_search.fit(x_train_c1, y_train_c1)

Fitting 2 folds for each of 72 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   26.9s
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed:  1.2min finished
/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=2, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [False], 'max_depth': [5, 10],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300, 400]},
             verbose=2)

In [249]:
best_grid = rf_grid_search.best_estimator_
Train_accuracy = evaluate(best_grid, x_train_c1, y_train_c1)

Model Performance
Average Error: 0.4055 degrees.
Accuracy = 68.56%.

In [250]:
rf_grid_search.best_estimator_

RandomForestRegressor(bootstrap=False, max_depth=10, max_features='sqrt',
                      min_samples_leaf=2, min_samples_split=10,
                      n_estimators=200)

In [251]:
best_grid = rf_grid_search.best_estimator_
Test_accuracy = evaluate(best_grid, x_test_c1, y_test_c1)

Model Performance
Average Error: 0.3844 degrees.
Accuracy = 69.17%.

# Filtering??

In [ ]:
y=df_IM_A[['current_rent_sqft']].values
x=df_IM_A[df_IM_A.columns[34:]].values.astype(int)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

rf = RandomForestRegressor()
rf.fit(x_train,y_train)


filter_score = pd.DataFrame(np.zeros((len(rf.feature_importances_),2)))
filter_score.columns = ['variable','score']  

for i in range(len(rf.feature_importances_)):
    filter_score.loc[i,'variable'] = df_IM_A.columns[34+i]
    filter_score.loc[i,'score'] = rf.feature_importances_[i]

filter_score.sort_values(by=['score'], ascending=False, inplace=True)
filter_score

<ipython-input-56-8b032994e816>:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

                                       variable     score
0                              num_of_starbucks  0.181258
53                            Average Home Rent  0.102093
52                             Median Home Rent  0.069511
38                       num_of_law_enforcement  0.068881
37                                num_of_school  0.060356
43                       num_of_vegie_resturant  0.052382
2                                 annual_visits  0.040476
42                              num_of_airports  0.037592
51                            Median Home Value  0.036652
45                                Median Income  0.036235
10                                MF_built_2019  0.034979
40                                num_of_market  0.032812
41                              num_of_hospital  0.022859
9                           fertility_1000_2019  0.019889
44                             Population_20_44  0.019856
1                                num_of_geocery  0.019761
27                           Median Rental Paid  0.017074
3                                      pop_2020  0.017007
8                     Age_20_44_growth_1yr_2019  0.016924
49                    Health Insurance Rate (%)  0.014965
7                     Age_20_44_growth_4yr_2019  0.013459
46                          # of Tech Employees  0.012903
12                          Rental Vacancy Rate  0.012474
5                           pop_growth_1yr_2020  0.012426
50                     Internet Access Rate (%)  0.011406
4                          pop_growth_10yr_2020  0.011289
48                       Average Commuting Time  0.009744
39                             num_of_fast_food  0.007942
47                          % of Tech Employees  0.006795
17                      5 or more bedrooms_rate  0.000000
13                               1 bedroom_rate  0.000000
14                              2 bedrooms_rate  0.000000
6                           Age_20_44_perc_2019  0.000000
11                                  Vacant Rate  0.000000
36              Heating fuel- No Fuel Used_rate  0.000000
15                              3 bedrooms_rate  0.000000
35               Heating fuel- Other Field_rate  0.000000
18                              No bedroom_rate  0.000000
25                    Rental $3000 or more_rate  0.000000
19                   Rental Less than $500_rate  0.000000
20                      Rental $500 ~ $999_rate  0.000000
21                    Rental $1000 ~ $1499_rate  0.000000
22                    Rental $1500 ~ $1999_rate  0.000000
23                    Rental $2000 ~ $2499_rate  0.000000
24                    Rental $2500 ~ $2999_rate  0.000000
26                            No rent paid_rate  0.000000
34              Heating fuel- Solar Energy_rate  0.000000
16                              4 bedrooms_rate  0.000000
29  Heating fuel- Bottled, tank, or LP gas_rate  0.000000
30               Heating fuel- Electricity_rate  0.000000
31  Heating fuel- Fuel oil, kerosene, etc._rate  0.000000
32              Heating fuel- Coal or coke_rate  0.000000
33                      Heating fuel- Wood_rate  0.000000
28               Heating fuel- Utility Gas_rate  0.000000